.title{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color:white;
}

img{
    max-height: 300px;
}

h4{
    font-weight: bold;
}
.disabled{
    background-color: #2d529f;;
}