body {
  font-size: 18px;
  width:100%;
  text-align: center;
  margin-top:50px;
}
body,h1,h2,h3,h4,h5,h6{
  font-family: "Source Sans Pro", "Microsoft Yahei","微软雅黑", STHeiti, 
               "华文黑体",Calibri,Candara,Arial,sans-serif;
  font-weight: inherit;
}
p{
  font-family: "Source Sans Pro", "Microsoft JhengHei";
  font-weight: inherit;
}
@media (min-width: 768px){
  .navbar-nav.navbar-right:last-child {
    margin-right: 0px;
    padding-right: 10px;
  }
  .navbar-nav.navbar-left{
    padding-left: 20px;
  }
}
.navbar-default{
  position: fixed;
  z-index: 100;
  background: rgba(255,255,255,0.97);
  box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
}
.navbar-default .navbar-nav>li>a {
  color: rgba(0,0,0,1);
}
.navbar-default .navbar-brand {
  color: rgb(0,0,0);
  padding-left: 14.5px;
  padding-top: 12px;
}
.navbar-default .navbar-brand:hover {
  color: rgb(255,255,255);
  background: rgb(0,0,0);
}
.navbar-toggle{
  background: rgb(0,0,0);
}
.navbar-toggle .icon-bar:hover{
  background: rgba(255,255,255,0.84);
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background:rgba(0,0,0,0.7);
}
.btn-dark{
  background: rgba(0,0,0,0.5);
  margin:0px;
}
.btn-dark:hover{
  background: rgba(0,0,0,0.9);
}
.poster {
  position: relative;
  max-width:100%;
  max-height: 100%;
}
.poster>.ps-img{
  position: relative;
  top: 0px;
  max-height: 100%;
  overflow: hidden;
}
.poster>.ps-img>img{
  max-height:100%;
  width:100%;
}
.inverse{
  background: rgba(0,0,0,1);
  color:white;
}
.txt-shadow{
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.ps-well{
  top: 50px;
  z-index: 40;
  color: black;
  background-color: white;
}
.grey-bg{
  background: rgb(60,60,60);
  color: white;
}
.qa-panel{
  border: 2px solid black;
  background: rgb(255,255,255);
}
.topic>h1{
  border-bottom: 2px solid white;
  border-bottom-width: thick;
  width: 70%;
}
@media(min-width: 992px){
  .poster>.ps-img>img{
    filter: blur(7px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(7px);
  }
  .poster>.ps-img>.ps-cover{
    position: absolute;
    top: 0px;
    opacity: 0.26;
    background-color: black;
    z-index: 10;
    width: 100%;
    height: 100%;
  }
  .full-pg{
    min-height: 100%;
    min-width: 100%;
  }
  .ps-well{
    min-width: 100%;
    position: absolute;
    color:white;
    background-color: rgba(0,0,0,0);
  }
}

@media(max-width: 992px){
  .ps-well{
    position: relative;
    top:0px;
    margin-bottom:0px;
    color:white;
    background-color: rgba(0,0,0,0.8);
  }
}

/*Modifiers*/
.align-left{
  text-align: left;
}
.hide{
  display: none;
}
.show{
  display: inherit;
}
.fillx{
  min-width: 100%;
}
.filly{
  min-height: 100%;
}
.underline:hover{
  text-decoration: underline;  
}
.zero-margin{
  margin: 0px;
}
.bottom-margin{
  margin-bottom: 10px;
}
.top-margin{
  margin-top: 10px;
}
.border-bottom{
  border-bottom: 2px solid white;
  border-bottom-width: thick;
}
.border-bottom-light{
  border-bottom: 2px solid rgba(255,255,255,0.2);
}

/*Font Awesome Icon Controls*/
.ico-large{
  font-size: 9em;
}
.ico-mid{
  font-size: 5em;
}
.ico-small{
  font-size: 2em;
}

/*Color overlay*/
.red{
  color:rgb(237, 119, 119);
}
.red:hover{
  color:rgb(237, 119, 119);
}
.yellow{
  color:rgb(260, 222, 109);
}
.yellow:hover{
  color:rgb(260, 222, 109);
}
.green{
  color:rgb(188, 223, 138);
}
.green:hover{
  color:rgb(188, 223, 138);
}
.blue{
  color:rgb(148, 192, 204);
}
.blue:hover{
  color:rgb(148, 192, 204);
}
.white{
  color:rgb(255, 255, 255);
}
.white:hover{
  color:rgb(255, 255, 255);
}
.black{
  color:rgb(0,0,0);
}
.black:hover{
  color:rgb(0,0,0);
}
.bg-dimgrey{
  background: rgb(105,105,105);
}
