
filter(n)
  filter blur(n)
  -webkit-filter blur(n)
  -moz-filter blur(n)

.btn-dark
  background rgba(0,0,0,0.5)
  &:hover
    background rgba(0,0,0,0.9)

.poster
  position relative
  max-width 100%
  max-height 100%
  .ps-img
    position relative
    top 0px
    max-height 100%
    overflow hidden
    img
      max-height 100%
      width 100%

.inverse
  background rgba(0,0,0,1)
  color white

.txt-shadow
  text-shadow 1px 1px 1px rgba(0,0,0,0.5)

.ps-well
  top 50px
  z-index 40
  color black
  background-color white

.grey-bg
  background rgb(60,60,60)
  color white

.light-grey-bg
  background rgba(0,0,0,0.4)
  color white

.qa-panel
  border 2px solid black
  background rgb(255,255,255)

.topic
  h1
    border-bottom 2px solid white
    border-bottom-width thick
    width 70%

.footer
  text-align center
  position relative
  bottom 0px
  width 100%



@media(min-width:992px)
  .poster .ps-img img
    filter(9px)

  .poster
    .ps-img
      .ps-cover
        position absolute
        top 0px
        opacity 0.4
        background-color black
        z-index 10
        width 100%
        height 100%

  .full-pg
    min-height 100%
    min-width 100%

  .ps-well
    min-width 100%
    position absolute
    color white
    background-color rgba(0,0,0,0)

@media(max-width:992px)
  .ps-well
    position relative
    top 0px
    margin-bottom 0px
    color white
    background-color rgba(0,0,0,0.8)

