//login.styl
@media (min-width: 768px)
  .form-horizontal-login
    width 400px
    margin 0 auto
    .control-label 
      text-align left
  
section
  text-align center
  height 100%
  margin-top 75px

.alert
  margin 10px
  
.btn{
  height 50px;
}