@media (min-width: 768px) {
  .nav-stacked {
    padding-top: 20px;
    position: fixed;
  }
}
@media (max-width: 768px) {
  section {
    display: initial;
  }
}
section {
  height: 100%;
}
.modal-content {
  padding-left: 20px;
  padding-right: 20px;
}
.modal-body {
  overflow: auto;
  word-wrap: break-word;
}
