@media(min-width:768px)
  .card
    margin-top 70px
  .card-front
    img
      box-shadow 10px 10px 10px #888888
    .center
      padding-top 70px
  .card-back
    margin-top 70px
    span
      font-size 5em
 

.bg-black
  background-color black

.card
  position relative
  float left
  padding-bottom 35%
  text-align center
  &.card-flip-onhover
    &:hover
      .card-front
        -webkit-transform rotateY(-180deg)
        transform rotateY(-180deg)
      .card-back
        -webkit-transform rotateY(0)
        transform rotateY(0)

.card-front,
.card-back
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  -webkit-backface-visibility hidden
  backface-visibility hidden
  -webkit-transition -webkit-transform 0.5s
  transition transform 0.5s

.card-back
  -webkit-transform rotateY(-180deg)
  transform rotateY(-180deg)

