extends ./ntu.MSD.layout.jade

block title
  title Event

block content
  .wrapper
    .poster#poster-label
      .ps-img
        //- Replace this with the poster image found in your images/org.event folder.
        img(src="../../img/16-17/ntu.MSD/msd.poster.png")
        .ps-cover
    .ps-well
      .col-md-3
      .col-md-6
        h1 南洋理工大学大马运动会
        h3 Malaysian Sports Day(MSD)@ NTU
        h3 Play Like A Champion!
        .btn.btn-dark.description-btn 
          h3 #活动详情
        a(href="ntu.MSD.updates.html").white.btn.btn-dark.events-btn             
          h3 #近期更新
        :markdown
          The long-awaited Malaysian Sports Day is back! As usual, we hope to bond the Malaysian students all around Singapore through fun and interesting sport activities! Hesitate no more and join us now!

        a(href="ntu.MSD.register.html").btn.btn-dark.btn-lg 
          h3 我要参加!  

      .col-md-3

    .container.grey-bg.full-pg#description-label
      .row
        .col-md-3
        .col-md-6
          h1.border-bottom-light 活动详情
        .col-md-3
      .row
        .col-md-4
        .col-md-5.align-left
          h2
            span.fa.fa-fw.fa-clock-o.red &nbsp;
            | 活动日期 : 
            //- Replace the following date with event date
            | 12th March 2017 
          h2 
            span.fa.fa-fw.fa-calendar.yellow &nbsp;
            | 活动时间 : 
            //- Replace the following time with event time
            | 8.00 a.m onwards
          h2
            span.fa.fa-fw.fa-building.blue &nbsp;
            | 活动地点 : 
            span.fa.fa-magic
            //- Replace the following venue with event venue 
            | NTU Sports and Recreation Center
        .col-md-3

block script
  script(type='text/javascript').
    $(document).ready(function(){
      pageScrollTo("description");
      return false;
    })