extends ./ntu.AMMO_16-17.layout.jade

block title
  title Event

block content
  .wrapper
    .poster#poster-label
      .ps-img
        //- Replace this with the poster image found in your images/org.event folder.
        img(src="../../img/16-17/ntu.ammo/AMMO_bg.jpg")
        .ps-cover
    .ps-well
      .col-md-3
      .col-md-6
        h1 南洋理工大学 之 炽夏的律动
        h3 Amcisa Member Outing --- AMMO!
        a(href="ntu.AMMO_16-17.updates.html").white.btn.btn-dark.events-btn
          h3 #活动详情
        a(href="ntu.AMMO_16-17.updates.html").white.btn.btn-dark.events-btn             
          h3 #近期更新
        :markdown
          如果来得及站上以光速前行的秒针，就能让时间回溯一点点。
          在似水流年里踱步，大概能看清你扬起嘴角瞬间阳光明媚的侧脸。
          而我们又该如何定义青春的模样，是放肆还是寂寥的形状，脑海中的群像光影般掠过，你我他与她，小小黑点汇成无法磨灭的记忆。
          我们就这样一起走过。
          It’s youth, it’s life.
          这故事，这青春，未完待续。

          放肆你的小青春小胡闹，一起摇摆！

          **-AMMO 1617筹委团-
          Bond to you and me**

        a(href="ntu.AMMO_16-17.register.html").btn.btn-dark.btn-lg 
          h3 我要AMMO!

      .col-md-3

    .container.grey-bg.full-pg#description-label
      .row
        .col-md-3
        .col-md-6
          h1.border-bottom-light 活动详情
        .col-md-3
      .row
        .col-md-4
        .col-md-5.align-left
          h2
            span.fa.fa-fw.fa-clock-o.red &nbsp;
            | 活动日期 : 
            //- Replace the following date with event date
            | 4/1/2017 - 6/1/2017 （星期三 至 五）
          h2
            span.fa.fa-fw.fa-calendar.yellow &nbsp;
            | 报名截止日期 : 
            //- Replace the following date with event date
            | 7/11/2016
          h2 
            span.fa.fa-fw.fa-money.green &nbsp;
            | 活动费用 : 
            //- Replace the following time with event time
            | SGD $75
          h2
            span.fa.fa-fw.fa-building.blue &nbsp;
            | 活动地点 : 
            span.fa.fa-magic
            //- Replace the following venue with event venue 
            | 加亨有机生态农场

          h2 
            *名额有限，先到先得*
          
        .col-md-3

block script
  script(type='text/javascript').
    $(document).ready(function(){
      pageScrollTo("description");
      return false;
    })