extends ./ntu.SFP.layout.jade

block title
  title Event

block content
  .wrapper
    .poster#poster-label
      .ps-img
        //- Replace this with the poster image found in your images/org.event folder.
        img(src="../../img/16-17/ntu.SFP/SFP.poster.png")
        .ps-cover
    .ps-well
      .col-md-3
      .col-md-6
        h1 南洋理工大学之学长姐欢送会
        h3 Senior Farewell Party (SFP 16/17) @ NTU
        .btn.btn-dark.description-btn 
          h3 #活动详情
        a(href="ntu.SFP.updates.html").white.btn.btn-dark.events-btn             
          h3 #近期更新
        :markdown
          即将毕业seniors 们，时光荏苒，跑道两旁的霓虹灯再次闪烁，已经大四的你们即将登上大学的最后一个班机，开启新一段的浩荡旅程。
          在离开前，是否还想与好友共欢一场？举起酒杯畅谈这四年在 NTU 的点点滴滴，放心， AMCISA got you covered。
          这段旅程，我们邀请到为 party 而存在的班机 SN1314，特此降落献给你们毕生难忘的 senior farewell party。
          不怕缺美酒、佳肴、演唱、舞池，只怕你不来 ~
          请接受我们这诚心的邀请！

        a(href="ntu.SFP.register.html").btn.btn-dark.btn-lg 
          h3 我要参加!
          
      .col-md-3

    .container.grey-bg.full-pg#description-label
      .row
        .col-md-3
        .col-md-6
          h1.border-bottom-light 活动详情
        .col-md-3
      .row
        .col-md-4
        .col-md-5.align-left
          h2
            span.fa.fa-fw.fa-clock-o.red &nbsp;
            | 活动日期 : 
            //- Replace the following date with event date
            | 8th April 2017 
          h2 
            span.fa.fa-fw.fa-calendar.yellow &nbsp;
            | 活动时间 : 
            //- Replace the following time with event time
            | 6.30 p.m
          h2
            span.fa.fa-fw.fa-building.blue &nbsp;
            | 活动地点 : 
            span.fa.fa-magic
            //- Replace the following venue with event venue 
            | Nanyang House
        .col-md-3

block script
  script(type='text/javascript').
    $(document).ready(function(){
      pageScrollTo("description");
      return false;
    })