extends ./ntu.amsohai.layout.jade

block title
  title AmSoHigh

block content
  .wrapper
    .poster#poster-label
      .ps-img
        //- Replace this with the poster image found in your images/org.event folder.
        img(src="../../img/16-17/amsohigh_background.png")
        .ps-cover
    .ps-well
      .col-md-3
      .col-md-6
        h1 南洋理工大学
        h3 Am So High @ NTU
        a(href="ntu.amsohai.details.html").btn.btn-dark.description-btn 
          h3 #活动详情
        a(href="ntu.amsohai.updates.html").white.btn.btn-dark.events-btn             
          h3 #近期更新
       
        :markdown
         # 我很高!

         ## 我真的很高……
        a(href="ntu.amsohai.register.html").white.btn.btn-dark.btn-link             
            h3 #我要报名！
      .col-md-3
         
    .container.grey-bg.full-pg#description-label
      .row
        .col-md-3
        .col-md-6
          h1.border-bottom-light 活动详情
        .col-md-3
      .row
        .col-md-4
        .col-md-5.align-left
          h2
            span.fa.fa-fw.fa-calendar.yellow &nbsp;
            | 活动日期 : 
            //- Replace the following date with event date
            | 16th October 2016 
          h2 
            span.fa.fa-fw.fa-clock-o.red &nbsp;
            | 活动时间 : 
            //- Replace the following time with event time
            | 6.00 p.m. - 10.30 p.m.
          h2
            span.fa.fa-fw.fa-building.blue &nbsp;
            | 活动地点 : 
            span.fa.fa-magic
            //- Replace the following venue with event venue 
            | HSS Foyer
          h2
            span.fa.fa-fw.fa-calendar.yellow &nbsp;
            | 截止日期 : 
            | 14th October 2016
        .col-md-3

block script
  script(type='text/javascript').
    $(document).ready(function(){
      pageScrollTo("description");
      return false;
    })