extends ./amc.amtee.layout.jade

block title
  title AmTee Rules and Regulations

block content
  .container.grey-bg.fillx
    h1 “AMTee 会服设计比赛”细则
    h4 AMTee Rules and Regulations
    br
  .container.grey-bg.fillx
    .col-md-3
    .col-md-6.align-left
      :markdown
          1.  “AMTee 会服设计比赛”是由 留新大马独中生联谊会（以下简称 AMCISA ）举办，其宗旨是为了遴选出新一届AMCISA 会服AMTee 的设计暨鼓励AMCISA会员发挥创意并踊跃参与新一届AMTee的设计；
          
          2.  此设计比赛只限AMCISA会员（在籍大学生与毕业生）参与；
          
          3.  每组参赛者人数不限；
          
          4.  每组提交参赛作品数量不限；
          
          5.  比赛采取网上公开投票制，投票系统如下：
          
            （1） 所有AMCISA会员皆可参与投票；
          
            （2） 一人一票制；
          
            （3） 票数最高的作品获胜；
          
          6.  作品要求：

            （1） 设计需呈现AMCISA 徽标（官方提供下载）、以及“留新大马独中生联谊会”与“AMCISA”字样；

            （2） 全部设计（包括衣服底色）不超过三种颜色；

            （3） 衣服前后都需设计，且只允许使用官方提供下载的衣服 Template （包括前，后）；

            （4） 所设计之图案实际印刷尺寸不超过A4（29.7cm × 20.1cm）；

            （5） 为避免与厂方实际印刷颜色出现差异，我们鼓励参赛者采用CMYK 颜色格式；
          
          7.  投稿方式与要求：

            （1） 参赛者请自行登录官网，并将设计上传到官网即可；

            （2） 上传稿件请转换成 JPEG 格式；

            （3） 请参赛者自存设计稿件原档；
            
            （4） 若欲撤下已上传的稿件，请联络官网负责人 ；
          
          8.  优胜作品版权将归 AMCISA 所有；
          
          9.  2015年12月28日开始接受投稿；
          
          10. 截稿日期为20616年2月15日，逾期者不受理；
          
          11. 网上公开投票日期为2016年2月18日至2月25日，2016年2月26日公布成绩；
          
          12. 奖品 （待定）；
          
          13. 以上所列之所有细则，主办当局有权增删之。

    .col-md-3

  .container.grey-bg.fillx.filly.align-left.qa-out