extends ./ntu.ewr2.layout.jade

block title
  title Event

block content
  .wrapper
    .poster#poster-label
      .ps-img
        //- Replace this with the poster image found in your images/ntu.ewr2 folder.
        img(src="../../img/15-16/ntu.ewr2/poster.jpg")
        .ps-cover
    .ps-well
      .col-md-3
      .col-md-6
        h1 南洋理工大学考试解压宵夜
        h3 Exam Welfare Refreshments @ NTU
        .btn.btn-dark.description-btn 
          h3 #活动详情
        a(href="ntu.ewr2.updates.html").white.btn.btn-dark.events-btn             
          h3 #近期更新
        :markdown
          （下面是 EWR 2.0 的由来）

          A：“读书读到很闲列～要去Can A 吃吗？”

          B：“不要啦！腻了”

          A:“Can B 还是 The Quad？”

          B:“都腻了”

          for (X=1,X<19,X++) {
          A:“你要去 can X 吃吗？” }

          B:“腻了” ×18

          （上帝降临）
          神：“那我来安排一场 AMCISA EWR2.0 吧”
  
        a(href="ntu.ewr2.register.html").btn.btn-dark.btn-lg 
          h3 算我一份!

      .col-md-3

    .container.grey-bg.full-pg#description-label
      .row
        .col-md-3
        .col-md-6
          h1.border-bottom-light 活动详情
        .col-md-3
      .row
        .col-md-4
        .col-md-5.align-left
          h2
            span.fa.fa-fw.fa-clock-o.red &nbsp;
            | 活动日期 : 
            //- Replace the following date with event date
            | 7th April 2016 
          h2 
            span.fa.fa-fw.fa-calendar.yellow &nbsp;
            | 活动时间 : 
            //- Replace the following time with event time
            | 9.00 p.m. - 11 p.m.
          h2
            span.fa.fa-fw.fa-building.blue &nbsp;
            | 活动地点 : 
            span.fa.fa-magic
            //- Replace the following venue with event venue 
            | TCT LT
        .col-md-3

block script
  script(type='text/javascript').
    $(document).ready(function(){
      pageScrollTo("description");
      return false;
    })