extends ./ntu.AMMO.layout.jade

block title
  title AMMO

block content
  .wrapper
    .poster#poster-label
      .ps-img
        //- Replace this with the poster image found in your images/ntu.AMMO folder.
        img(src="../../img/15-16/ntu.ammo/poster.photo.jpg")
        .ps-cover
    .ps-well
      .col-md-3
      .col-md-6
        h1 ［AMCISA Member Outing 15/16］ 之 《盛夏拾忆度》
        h3 AMCISA Member Outing @ NTU
        .btn.btn-dark.description-btn 
          h3 #活动详情
        a(href="ntu.ammo.updates.html").white.btn.btn-dark.events-btn             
          h3 #近期更新
        :markdown
            假日的脚步一步步加速，狂欢的情绪一层层叠起。
            还记得与你相遇的那个夏天，一切就宛如昨天那般清晰。
            情绪像似那紧系在提琴上的弦，心中渴望着回到最初的那一天：
            那一个盛情的夏天，那一个我们携手拼凑美好回忆的蓝天！
            你是否不经意回忆起曾经青春热血的往日？别担心，机会就在这里：
            AMMO（Amcisa Member Outing） 1516 之《盛夏拾忆度》来了！
            这三天的郊游，让我们一起放肆心中压抑已久的情绪，为青春呐喊！<br>

            ****************【名额有限，先到先得】****************<br>
            盛开青春的夏天，拾起满溢的回忆
            一起来放肆你的夏天吧！
            -AMMO-
            Bond to you and me


        a(href="ntu.ammo.register.html").btn.btn-dark.btn-lg 
          h3 我要AMMO!
      .col-md-3
    .container.grey-bg.full-pg#description-label
      .row
        .col-md-3
        .col-md-6
          h1.border-bottom-light 活动详情
        .col-md-3
      .row
        .col-md-4
        .col-md-5.align-left
          h2
            span.fa.fa-fw.fa-clock-o.red &nbsp;
            | 活动日期 : 
            //- Replace the following date with event date
            | 2016年1月6日至8日（星期三至星期五）

          h2
            span.fa.fa-fw.fa-building.blue &nbsp;
            | 活动地点 : 
            span.fa.fa-magic
            //- Replace the following venue with event venue 
            | 适耕庄 Sekinchan

          h2
            span.fa.fa-fw.fa-money.yellow &nbsp;
            | 报名费 : 
            //- Replace the following venue with event venue 
            | SGD 63.00
          h2
            span.fa.fa-fw.fa-check.red &nbsp;
            | 截止日期 : 
            //- Replace the following venue with event venue 
            | 13/11/2015 (星期五)
        .col-md-3

block script
  script(type='text/javascript').
    $(document).ready(function(){
      pageScrollTo("description");
      return false;
    })