extends ./ntu.ewr.layout.jade

block title
  title Exam Welfare Refreshments

block content
  .wrapper
    .poster#poster-label
      .ps-img
        //- Replace this with the poster image found in your images/ntu.ewr folder.
        img(src="../../img/15-16/ntu.ewr/poster.photo.jpg")
        .ps-cover
    .ps-well
      .col-md-3
      .col-md-6
        h1 南洋理工大学考试解压宵夜
        h3 Exam Welfare Refreshments @ NTU
        .btn.btn-dark.description-btn 
          h3 #活动详情
        a(href="ntu.ewr.updates.html").white.btn.btn-dark.events-btn             
          h3 #近期更新
        :markdown
          AMCISA EWR  一直以来都使用一个不外传的神奇秘方
          其味道能挑动你的神经，振奋你的细胞
          死了也能活起来，越读越带劲

          这么厉害的东西，在外面最少可以卖到一个五位数
          但看在大家都是AMCISA 一家亲，免费！
          还等什么？！

        a(href="ntu.ewr.register.html").btn.btn-dark.btn-lg 
          h3 算我一份!
      .col-md-3

    .container.grey-bg.full-pg#description-label
      .row
        .col-md-3
        .col-md-6
          h1.border-bottom-light 活动详情
        .col-md-3
      .row
        .col-md-4
        .col-md-5.align-left
          h2
            span.fa.fa-fw.fa-clock-o.red &nbsp;
            | 活动日期 : 
            //- Replace the following date with event date
            | 12th November 2015 
          h2 
            span.fa.fa-fw.fa-calendar.yellow &nbsp;
            | 活动时间 : 
            //- Replace the following time with event time
            | 9.00 p.m. - 11 p.m.
          h2
            span.fa.fa-fw.fa-building.blue &nbsp;
            | 活动地点 : 
            span.fa.fa-magic
            //- Replace the following venue with event venue 
            | TCT LT
            
        .col-md-3
    
    .container.grey-bg.full-pg#video-label
      .row
        .col-md-3
        .col-md-6
          h1.border-bottom-light 宣传短片
        .col-md-3
      include ../15-16.includes/ntu.ewr.promovideo.html


block script
  script(type='text/javascript').
    $(document).ready(function(){
      pageScrollTo("description");
      return false;
    })