extends ./ntu.amkidkid.layout.jade

block title
  title 更新

block content
  .container.grey-bg.full-pg.filly
    .row
      h1 活动更新
    .row
      .col-md-2
        ul.nav.nav-pills.nav-stacked.fixed
          //- Add or replace the li elements with your own.
          li.active
            a(href='#report', data-toggle='tab', aria-expanded='true') 活动报告
      .col-md-9
        .tab-content#myTabContent
          //- Add your panes according to your li element.
          .tab-pane.fade.active.in#baogao
            .align-left
             :markdown
               10月25日那个晚上，我们来到HSS Foyer, 一个个奇装异服，活泼可爱的卡通人物像魔术般出现在眼前。Olivia 在柜台前给我们报到， Mario 为我们带上彩色的wristband。 因为这一天是儿童节，大家都绑上了自己儿时的可爱发型，有小椰树，小辫子，小牛角… 看着彼此逗趣的样子，我们都笑了。

               活动开始！音乐响起，大家飞奔着跑向各站。有Mr Bean, 蜡笔小新， 飞天小女警， Elsa 和 Olaf, Mario 兄弟还有 Popeye 和 Olivia。 他们热情地带动着大家玩游戏，大家也全力配合。这时候，每个人都抛开了烦恼，回到童年嬉戏时的无忧无虑。有大合唱，大明星，肚子饿饿哒，战斗机，Bingo还有超级比一比。

               大家笑着闹着，游戏也来到了尾声。只听见司仪一个个介绍Maincomm所扮演的角色，他们就把卡通人物的经典动作贴切细致的呈现在大家眼前，非常有趣。最后，各种卡通人物以樱桃小丸子的音乐配合可爱的舞蹈让整个活动圆满落幕。
               
               当然，这么棒的活动怎么能少了食物呢？大家享受着筹委们精心准备的热狗面包和100号龙眼水，非常满足，还让一些没吃晚餐的朋友们都吃饱了。最后，每个人带着纪念品，零食和满满的欢乐，微笑着离开了会场。

      .col-md-1