extends ./amc.talent.layout.jade

block title
  title Register

block content
  .panel.panel-primary.section
    .panel-heading
      h1 Hall of Fame
    .panel-body
      h2 
        | 最佳服装道具奖 
        span.fa.fa-magic
        | — 蚝游艇
      h2 
        | 最佳talent奖 
        span.fa.fa-star(style="color:rgb(260, 222, 109)")
        | — YMCA Finale
      h2 
        | 最佳默契奖 
        span.fa.fa-heart(style="color:rgb(237, 119, 119)")
        | — 星空下
      h2 
        | 最具娱乐效果奖 
        span.fa.fa-gamepad(style="color:rgb(188, 223, 138)")
        | — 蚝游艇
      h2 
        | 最佳创意奖 
        span.fa.fa-rocket(style="color:rgb(148, 192, 204)")
        | — 贝战舰

  .panel.panel-info.section
    .panel-heading
      h1 Talent Night 后续
    .panel-body
      .question
        p 话说AMCISA FOA结束后，一群新鲜人开始去探索神秘的NTU的课业之际，突然收到GL的通知： talent night上每组将要呈现二十分钟的表演，题材不拘，任君发挥。组员们加油!
        p 练习的那几个晚上仿佛回到了迎新营的节奏，晚餐大家一块儿吃，吃饱之后开始排练，排练至深夜才回房睡觉。没有GL的带领，大家七嘴八舌地展开讨论，也许过程十分顺利，也许发生一些小争执，不过总算把表演排练好了。
        p Talent night当晚小编的组别是第一组，想想真是觉得自己很幸运，因为第一组表演既不会有压力（没看过其他组别的表演，不知道自己是好还是坏），表演完毕之后还可以专心看表演，真是一箭双雕。
        p 除了NTU的FOA OG group，NUS也组队参加Talent Night。看见他们几组的表演，小编不禁感叹：人家可是有真材实料的叻…有弹奏吉他配上唱歌、舞蹈表演还有YMCA一连串的可爱表演，让现场的各位大饱眼福。
          小编最喜欢YMCA模仿《dumb ways to die》的表演，组员们模仿卡通的模样都十分神似，配上准确的节奏，真的是一个值得赞赏且娱乐性十足的表演。
        p 当晚的大赢家是“蚝游艇”，因为他们一共拿了两个奖项。然而他们获此殊荣并不无道理，因为他们的表演是集感动与搞笑为一体，二者互相交替，带给现场的观众绝对的娱乐效果。
          除了展现他们的才艺——乌克丽丽自弹自唱，表演的剧情也十分有趣。戴眼镜的秀气女孩很轻松地弹奏了好几首歌曲，组员们一起歌唱，给人以一种很温馨的感觉。
          然而，蚝游艇的重头戏要属故事的女主角啦——让颇有肌肉的男生穿上吊带裙子反串女主角，这造型绝对震撼，让人印象深刻。情节发展到最后，女主角竟然没有选择高大威猛的男主角，让观众好不惋惜。（明明男主角很帅啊！）