extends ./amc.talent.layout.jade

block title
  title Home

block styles
  link(rel="stylesheet",href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css")
  link(rel="stylesheet",href="../css/bootstrap-image-gallery.min.css")

block content
  .panel.panel-warning
    .panel-heading
      h1 Photo Gallery
    .panel-body
      #links
        a(href="../img/14-15/amc.talent/live (1).jpg", title="我们可爱的主持",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (1).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (2).jpg", title="我们严肃的评审",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (2).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (3).jpg", title="Pump it up!",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (3).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (4).jpg", title="Shake your body!",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (4).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (5).jpg", title="兴奋粉丝团",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (5).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (6).jpg", title="阴森的主播",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (6).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (7).jpg", title="斯文抢包团",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (7).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (8).jpg", title="我如花~",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (8).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (9).jpg", title="温柔的歌声",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (9).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (10).jpg", title="YMCA!",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (10).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (11).jpg", title="感性的一晚",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (11).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (12).jpg", title="空气吉他Yo",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (12).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (13).jpg", title="狐狸说什么？",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (13).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (14).jpg", title="沉醉~",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (14).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (15).jpg", title="Sweet Kiss",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (15).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (16).jpg", title="新少女时代",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (16).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (17).jpg", title="法医做市场调查",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (17).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (18).jpg", title="法医寻觅食物",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (18).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (19).jpg", title="灿烂的笑容",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (19).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (20).jpg", title="Woof woof!",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (20).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (21).jpg", title="喜刷刷",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (21).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (22).jpg", title="迷失的女孩儿们",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (22).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (23).jpg", title="Together!",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (23).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (24).jpg", title="扯铃高手",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (24).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (25).jpg", title="你们要大还是小？",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (25).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (26).jpg", title="Banana robot",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (26).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (27).jpg", title="如何游泳",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (27).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (28).jpg", title="给你们一个love",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (28).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (29).jpg", title="这是鬼！",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (29).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (30).jpg", title="默契拍档",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (30).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (31).jpg", title="我的心里只有你",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (31).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (32).jpg", title="Noooo...!!",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (32).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (33).jpg", title="你算哪根葱？",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (33).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (34).jpg", title="好友挺",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (34).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (35).jpg", title="蚝蚝露脸",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (35).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (36).jpg", title="公布成绩",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (36).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (37).jpg", title="最佳道具奖--蚝游艇",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (37).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (38).jpg", title="最佳创意奖--贝战舰",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (38).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (39).jpg", title="最佳默契奖 — 星空下",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (39).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (40).jpg", title="最佳娱乐效果奖--蚝游艇",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (40).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (41).jpg", title="最佳talent奖 — YMCA Finale",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (41).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (42).jpg", title="鲨木筏",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (42).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (43).jpg", title="蚝游艇",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (43).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (44).jpg", title="贝战舰",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (44).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (45).jpg", title="贝战舰",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (45).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (46).jpg", title="章炮船",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (46).jpg", alt="")
        a(href="../img/14-15/amc.talent/live (47).jpg", title="大家庭",data-gallery)
          img(src="../img/14-15/amc.talent/thumbs/live (47).jpg", alt="")


block carousel  
  #blueimp-gallery.blueimp-gallery
    .slides
    h3.title
    a.prev ‹
    a.next ›
    a.close ×
    a.play-pause
    ol.indicator
    .modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', aria-hidden='true') ×
            h4.modal-title
          .modal-body.next
          .modal-footer
            button.btn.btn-default.pull-left.prev(type='button')
              i.glyphicon.glyphicon-chevron-left
              | Previous
            button.btn.btn-primary.next(type='button')
              | Next
              i.glyphicon.glyphicon-chevron-right

block script
  script(src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js")
  script(src="../js/bootstrap-image-gallery.min.js")