extends ./ntu.halloween.layout.jade

block title
  title Contact Us

block content
  .panel.panel-info.section
    .panel-heading
      h1 To the NEXT!
    .panel-body
      span.fa.fa-cogs.ico-large(style="color:rgb(260, 222, 109)")
      p Under construction bzzzt