extends ./ntu.halloween.layout.jade

block title
  title Contact Us

block content
  .panel.panel-info.section
    .panel-heading
      h1 To the NEXT!
    .panel-body
      span.fa.fa-spinner.fa-spin.ico-large.blue
      h1 Under construction bzzzt