extends ./ntu.halloween.layout.jade

block title
  title Home

block styles
  link(rel="stylesheet",href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css")
  link(rel="stylesheet",href="../css/bootstrap-image-gallery.min.css")

block content
  .panel.panel-warning
    .panel-heading
      h1 Photo Gallery
    .panel-body
      #links
        a(href="../img/14-15/ntu.halloween/live (1).jpg", title="纤细的身材",data-gallery)
          img(src="../img/14-15/ntu.halloween/thumbs/live (1).jpg", alt="")
        a(href="../img/14-15/ntu.halloween/live (2).jpg", title="蝙蝠女侠",data-gallery)
          img(src="../img/14-15/ntu.halloween/thumbs/live (2).jpg", alt="")
        a(href="../img/14-15/ntu.halloween/live (3).jpg", title="小红帽",data-gallery)
          img(src="../img/14-15/ntu.halloween/thumbs/live (3).jpg", alt="")
        a(href="../img/14-15/ntu.halloween/live (4).jpg", title="Zombie!",data-gallery)
          img(src="../img/14-15/ntu.halloween/thumbs/live (4).jpg", alt="")
        a(href="../img/14-15/ntu.halloween/live (5).jpg", title="美女化妆师一号",data-gallery)
          img(src="../img/14-15/ntu.halloween/thumbs/live (5).jpg", alt="")
        a(href="../img/14-15/ntu.halloween/live (6).jpg", title="Minnie Mouse",data-gallery)
          img(src="../img/14-15/ntu.halloween/thumbs/live (6).jpg", alt="")
        a(href="../img/14-15/ntu.halloween/live (7).jpg", title="Zombie Zombie!",data-gallery)
          img(src="../img/14-15/ntu.halloween/thumbs/live (7).jpg", alt="")
        a(href="../img/14-15/ntu.halloween/live (8).jpg", title="美女化妆师！",data-gallery)
          img(src="../img/14-15/ntu.halloween/thumbs/live (8).jpg", alt="")
        a(href="../img/14-15/ntu.halloween/live (9).jpg", title="大吸血鬼~",data-gallery)
          img(src="../img/14-15/ntu.halloween/thumbs/live (9).jpg", alt="")
        a(href="../img/14-15/ntu.halloween/live (10).jpg", title="",data-gallery)
          img(src="../img/14-15/ntu.halloween/thumbs/live (10).jpg", alt="")
        a(href="../img/14-15/ntu.halloween/live (11).jpg", title="母 Zombie",data-gallery)
          img(src="../img/14-15/ntu.halloween/thumbs/live (11).jpg", alt="")
        a(href="../img/14-15/ntu.halloween/live (12).jpg", title="作品集",data-gallery)
          img(src="../img/14-15/ntu.halloween/thumbs/live (12).jpg", alt="")
        a(href="../img/14-15/ntu.halloween/live (13).jpg", title="我们等你",data-gallery)
          img(src="../img/14-15/ntu.halloween/thumbs/live (13).jpg", alt="")
        a(href="../img/14-15/ntu.halloween/live (14).jpg", title="我来了",data-gallery)
          img(src="../img/14-15/ntu.halloween/thumbs/live (14).jpg", alt="")


block carousel  
  #blueimp-gallery.blueimp-gallery
    .slides
    h3.title
    a.prev ‹
    a.next ›
    a.close ×
    a.play-pause
    ol.indicator
    .modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', aria-hidden='true') ×
            h4.modal-title
          .modal-body.next
          .modal-footer
            button.btn.btn-default.pull-left.prev(type='button')
              i.glyphicon.glyphicon-chevron-left
              | Previous
            button.btn.btn-primary.next(type='button')
              | Next
              i.glyphicon.glyphicon-chevron-right

block script
  script(src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js")
  script(src="../js/bootstrap-image-gallery.min.js")