extends ./layout.jade

block head
  link(href="./css/animate.min.css", rel="stylesheet")
  link(href="./css/profile.css", rel="stylesheet")

block content  
    br
    h2 提名成功！感谢您的提名!
    h4 若想继续提名，请#[a(href="http://amcisa.org/gh/amscar2017.html") 点击这里]。 否则，#[a(href="http://amcisa.org/") 回到主页]。
