mixin dropdown(name)
  form.form-inline
    .form-group
        label 我的票数:
        select.form-control.align-left
                - var n = 0
                while n < 11
                    option= n++
  br

extends ./layout.jade

block title
  title AmScar Voting Portal

block head
  link(href="./css/animate.min.css", rel="stylesheet")
  link(href="./css/profile.css", rel="stylesheet")
  link(href="./css/amscar.css", rel="stylesheet")


block content  
  +login_iframe()
  +modal
  .wrapper
        h1 AmScar 2016 Voting Portal
        h4 致胜一票，就在你的手上

        .col-lg-1
        .col-lg-2
            section.container
                ul.nav.nav-pills.nav-stacked
                    li.active
                        a(href='#profile', data-toggle='tab', aria-expanded='true') 投票主页
                    li
                        a(href='#amcao', data-toggle='tab', aria-expanded='true') Am草
                    li
                        a(href='#amhua', data-toggle='tab', aria-expanded='true') Am花
                    li
                        a(href='#amkidkid', data-toggle='tab', aria-expanded='true') AmKidKid
                    li
                        a(href='#amamam', data-toggle='tab', aria-expanded='true') AmAMAM
                    li
                        a(href='#amcouple', data-toggle='tab', aria-expanded='true') Am荧幕情侣
                    li
                        a(href='#amsleep', data-toggle='tab', aria-expanded='true') Am睡神
                    li
                        a(href='#ammoqi', data-toggle='tab', aria-expanded='true') Am默契
                    li
                        a(href='#amjaychou', data-toggle='tab', aria-expanded='true') AmJayChou 
                    li
                        a(href='#ampattern', data-toggle='tab', aria-expanded='true') AmPattern 
                    li
                        a(href='#amdrydry', data-toggle='tab', aria-expanded='true') AmDryDry 

        .col-lg-8
            .tab-content
                .tab-pane.fade.active.in.align-left#profile
                    h2 投票主页
                    br
                    h5 在投票前，请注意：
                    h5 1. 请到左方点击各个奖项进行投票。投票完毕后，返回“投票主页”，点击：“确认投票”。
                    h5 2. 一人拥有10张票，可任意分配至任何奖项的任何被提名者，自由发挥。
                    br
                    form.form-inline
                        .form-group
                            label 我的票数:
                            label 
                                #votesleft
                    h4 你已经投选的组合为：
                    #combination
                    br 
                    br
                    button#submitButton.btn.btn-info.btn-lg
                      span 确认投票
                      i.fa.fa-fw.fa-circle-o-notch.fa-spin.hide
                
                .tab-pane.fade.in.align-left#amcao
                    h2 Am草
                    .container-fluid.align-center
                        .col-md-6
                          img(src="uploads/amscar2016/Am草/Tadayuki_Kojima_方志毅.jpg")
                          h4 Tadayuki Kojima
                          h5 Caption
                          +dropdown(class = "Tadayuki")
                        .col-md-6
                          img(src="uploads/amscar2016/Am草/宋晓慧_李宜恩.jpeg")
                          h4 宋晓慧
                          h5 Caption
                          +dropdown(class = "Tadayuki")
                        .col-md-6.align-center
                          img(src="uploads/amscar2016/Am草/尤竑鯕_JJ.jpg")
                          h4 尤竑鯕
                          h5 帅得无法无天！
                          +dropdown(class = "Tadayuki")
                        .col-md-6.align-center
                          img(src="uploads/amscar2016/Am草/黄文聪_李宜恩.jpeg")
                          h4 黄文聪
                          h5 Caption 
                          +dropdown(class = "Tadayuki")
                .tab-pane.fade.in.align-left#amhua
                    h2 Am花
                    .container-fluid.align-center
                        .col-md-6
                          img(src="uploads/amscar2016/Am花/吴诗蕾_方志毅.jpg")
                          h4 吴诗蕾
                          h5 Caption
                          +dropdown(class = "Tadayuki")
                        .col-md-6
                          img(src="uploads/amscar2016/Am花/房捷敏_小豐豐.jpg")
                          h4 房捷敏
                          h5 她是一朵愛吃肉的萊佛士大王花。
                          +dropdown(class = "Tadayuki")
                        .col-md-6
                          img(src="uploads/amscar2016/Am花/陈伟龙_方志毅.jpg")
                          h4 陈伟龙
                          h5 Caption
                          +dropdown(class = "Tadayuki")

                .tab-pane.fade.in.align-left#amkidkid
                    h2 AmKidKid
                    .container-fluid.align-center
                        .col-md-6
                          img(src="uploads/amscar2016/AmKidKid/紀智勝_小豐豐.jpg")
                          h4 紀智勝
                          h5 稚嫩不老高齡男神
                          +dropdown(class = "Tadayuki")
                        .col-md-6
                          img(src="uploads/amscar2016/AmKidKid/郭建升_李宜恩.jpeg")
                          h4 郭建升
                          h5 Caption
                          +dropdown(class = "Tadayuki")
                        .col-md-6
                          img(src="uploads/amscar2016/AmKidKid/黄文聪_李宜恩.jpeg")
                          h4 黄文聪
                          h5 Caption
                          +dropdown(class = "Tadayuki")
                .tab-pane.fade.in.align-left#amamam
                    h2 AmAMAM
                    .container-fluid.align-center
                        .col-md-6
                          img(src="uploads/amscar2016/AmAMAM/OneWayTeo_郑好好.jpg")
                          h4 OneWayTeo
                          h5 实在太干，我看不下去......
                          +dropdown(class = "Tadayuki")
                .tab-pane.fade.in.align-left#amcouple
                    h2 Am荧幕情侣
                    .container-fluid.align-center
                        .col-md-6
                          img(src="uploads/amscar2016/Am荧幕情侣/黄文聪，张韶晴_李宜恩.jpeg")
                          h4 黄文聪，张韶晴
                          h5 Caption
                          +dropdown(class = "Tadayuki")
                .tab-pane.fade.in.align-left#amsleep
                    h2 Am睡神
                    .container-fluid.align-center
                        .col-md-6
                          img(src="uploads/amscar2016/Am睡神/秉声_张王玮.jpg")
                          h4 秉声
                          h5 说好的跑步呢？
                          +dropdown(class = "Tadayuki")
                        .col-md-6
                          img(src="uploads/amscar2016/Am睡神/覃子豪_蔡晓双.jpg")
                          h4 覃子豪
                          h5 无论什么地点什么姿势都睡得着
                          +dropdown(class = "Tadayuki")
                .tab-pane.fade.in.align-left#ammoqi
                    h2 Am默契
                    .container-fluid.align-center
                        .col-md-6
                          img(src="uploads/amscar2016/Am默契/谢维杰___纪智胜_方志毅.jpg")
                          h4 谢维杰，纪智胜
                          h5 Caption
                          +dropdown(class = "Tadayuki")
                .tab-pane.fade.in.align-left#amjaychou
                    h2 AmJayChou
                .tab-pane.fade.in.align-left#ampattern
                    h2 AmPattern
                    .container-fluid.align-center
                        .col-md-6
                          img(src="uploads/amscar2016/AmPattern/吴诗蕾_方志毅.jpg")
                          h4 吴诗蕾
                          h5 Caption
                          +dropdown(class = "Tadayuki")
                        .col-md-6
                          img(src="uploads/amscar2016/AmPattern/纪智胜_蔡晓双.jpg")
                          h4 纪智胜
                          h5 拍照很多Pattern
                          +dropdown(class = "Tadayuki")
                        .col-md-6
                          img(src="uploads/amscar2016/AmPattern/郭建升_李宜恩.jpeg")
                          h4 郭建升
                          h5 AM神经就是我啦！
                          +dropdown(class = "Tadayuki")
                        .col-md-6
                          img(src="uploads/amscar2016/AmPattern/20160325_23514_AmPattern__郭建升_李宜恩.jpeg")
                          h4 郭建升
                          h5 亲爱的白马王子赶快来亲吻我这条肥滋滋的美人鱼吧！
                          +dropdown(class = "Tadayuki")
                        .col-md-6
                          img(src="uploads/amscar2016/AmPattern/陈卓彦_李宜恩.jpeg")
                          h4 陈卓彦
                          h5 Caption
                          +dropdown(class = "Tadayuki")
                .tab-pane.fade.in.align-left#amdrydry
                    h2 AmDryDry
                    .container-fluid.align-center
                        .col-md-6
                          img(src="uploads/amscar2016/AmDryDry/GARY_蔡晓双.jpg")
                          h4 GARY
                          h5 照片已说明了一切
                          +dropdown(class = "Tadayuki")
                        .col-md-6
                          img(src="uploads/amscar2016/AmDryDry/梁理文_李宜恩.jpeg")
                          h4 梁理文
                          h5 Caption
                          +dropdown(class = "Tadayuki")
                        .col-md-6
                          img(src="uploads/amscar2016/AmDryDry/郑释恩_戴小婷.jpg")
                          h4 郑释恩
                          h5 DRY了22年，就让他得奖吧！
                          +dropdown(class = "Tadayuki")


        .col-lg-1
                
               

block script
  script(src="js/amscarVoting.js")