mixin dropdown(name)
  form.form-inline
    .form-group
        label 我的票数:
        select.form-control.align-left.dropdown(id = name)
                option(selected) 0
                - var n = 1
                while n < 11
                    option= n++
  br

extends ./layout.jade

block title
  title AmScar Voting Portal

block head
  link(href="./css/animate.min.css", rel="stylesheet")
  link(href="./css/profile.css", rel="stylesheet")
  link(href="./css/amscar.css", rel="stylesheet")


block content  
  +login_iframe()
  
  .wrapper
    
    #img_text.container-fluid
        h1 AmScar 2017 Voting Portal
        h4 致胜一票，就在你的手上

          .col-lg-1
          .col-lg-2
              section.container
                  ul.nav.nav-pills.nav-stacked
                      li.active(style="width:150px")
                        h3
                          a(href='#profile', data-toggle='tab', aria-expanded='true', onclick = "runRPC()") 投票主页
                      li 
                        h4
                          a(href='#amcao', data-toggle='tab', aria-expanded='true') Am草
                      li
                        h4
                          a(href='#amhua', data-toggle='tab', aria-expanded='true') Am花
                      li
                        h4
                          a(href='#amsweetsweet', data-toggle='tab', aria-expanded='true') AmSweetSweet
                      li
                        h4
                          a(href='#amtwins', data-toggle='tab', aria-expanded='true') AmTwins
                      li
                        h4
                          a(href='#amsohai', data-toggle='tab', aria-expanded='true') AmSohai
                      li
                        h4
                          a(href='#amshen', data-toggle='tab', aria-expanded='true') Am神
                      li
                        h4
                          a(href='#amsap', data-toggle='tab', aria-expanded='true') AmSap
                      li
                        h4
                          a(href='#ampattern', data-toggle='tab', aria-expanded='true') AmPattern 
                      li
                        h4
                          a(href='#amdrydry', data-toggle='tab', aria-expanded='true') AmDryDry 

          .col-lg-8
              .tab-content
                  .tab-pane.fade.active.in.align-left#profile
                      h2 投票主页
                      br
                      h5 在投票前，请注意：
                      h5 1. 请到左方点击各个奖项进行投票。投票完毕后，返回“投票主页”，点击：“确认投票”。
                      h5 2. 一人拥有10张票，可任意分配至任何奖项的任何被提名者，自由发挥。
                      h5 3. 若在未用完10张选票的情况下按“确认投票”，剩余的票都将视为弃票。
                      br
                      form.form-inline
                          .form-group
                              label 剩余票数:
                              label 
                                  #votesleft
                      h4 你已经投选的组合为：
                      #combination
                      br 
                      br
                      button#submitButton.btn.btn-info.btn-lg
                        span 确认投票
                        i.fa.fa-fw.fa-circle-o-notch.fa-spin.hide
                  
                  .tab-pane.fade.in.align-left#amcao
                      h2 Am草
                      .container-fluid.align-center
                          .col-md-6
                            img(src="uploads/amscar2017/Am草/20170317_115340_Am草_卓己安_龚象宇.jpg")
                            h4.name 龚象宇
                            h5 不用多说，看照片
                            +dropdown("Am草_龚象宇")
                          .col-md-6
                            img(src="uploads/amscar2017/Am草/20170317_204623_Am草_迎祯_蔡欣学.jpg")
                            h4.name 迎祯
                            h5 dry到男生都要
                            +dropdown("Am草_迎祯")
                          .col-md-6
                            img(src="uploads/amscar2017/Am草/20170327_93905_Am草_吴勇盛_豆腐.jpg")
                            h4.name 吴勇盛
                            h5 帅。由我来定义
                            +dropdown("Am草_吴勇盛")
                          .col-md-6
                            img(src="uploads/amscar2017/dummy.png")
                            h4.name -
                            h5 - 
                            +dropdown("Am草_黄文聪")
                          .col-md-6
                            img(src="uploads/amscar2017/dummy.png")
                            h4.name -
                            h5 -
                            +dropdown("Am草_王诗捷")
                  .tab-pane.fade.in.align-left#amhua
                      h2 Am花
                      .container-fluid.align-center
                          .col-md-6
                            img(src="uploads/amscar2017/Am花/20170319_01653_Am花_吴诗蕾_Rachel_SWL.jpg")
                            h4.name 吴诗蕾
                            h5 她是 AMCISA 刘诗诗，公认的大家姐。又漂亮又 active 的美女，大家一定要把票投给她喔
                            +dropdown("Am花_吴诗蕾")
                          .col-md-6
                            img(src="uploads/amscar2017/Am花/20170327_93825_Am花_吴勇盛_豆腐.jpg")
                            h4.name 吴勇盛
                            h5 美不需要解释多多
                            +dropdown("Am花_吴勇盛")
                          .col-md-6
                            img(src="uploads/amscar2017/Am花/20170320_65156_Am花_宋玉康_静静.jpg")
                            h4.name 宋玉康
                            h5 -
                            +dropdown("Am花_宋玉康")
                          .col-md-6
                            img(src="uploads/amscar2017/dummy.png")
                            h4.name -
                            h5 -
                            +dropdown("Am花_朱婉齐")
                          .col-md-6
                            img(src="uploads/amscar2017/dummy.png")
                            h4.name -
                            h5 -
                            +dropdown("Am花_Gladys_Loh")

                  .tab-pane.fade.in.align-left#amsweetsweet
                      h2 AmSweetSweet
                      .container-fluid.align-center
                          .col-md-6
                            img(src="uploads/amscar2017/dummy.png")
                            h4.name -
                            h5 -
                            +dropdown("AmKidKid_紀智勝")
                          .col-md-6
                            img(src="uploads/amscar2017/dummy.png")
                            h4.name -
                            h5 -
                            +dropdown("AmKidKid_郭建升")
                          .col-md-6
                            img(src="uploads/amscar2017/dummy.png")
                            h4.name -
                            h5 -
                            +dropdown("AmKidKid_黄文聪")
                          .col-md-6
                            img(src="uploads/amscar2017/dummy.png")
                            h4.name -
                            h5 -
                            +dropdown("AmKidKid_纪智胜2")
                  .tab-pane.fade.in.align-left#amtwins
                      h2 AmTwins
                      .container-fluid.align-center
                          .col-md-6
                            img(src="uploads/amscar2017/AmTwins/20170320_63018_AmTwins_子顺，照财_静静.jpg")
                            h4.name 子顺，照财
                            h5 -
                            +dropdown("AmTwins_子顺，照财")
                  .tab-pane.fade.in.align-left#amsohai
                      h2 AmSohai
                      .container-fluid.align-center
                          .col-md-6
                            img(src="uploads/amscar2017/AmSohai/20170320_63259_AmSohai_牛奶妹joee_静静.jpg")
                            h4.name 牛奶妹joee
                            h5 -
                            +dropdown("AmSohai_牛奶妹joee")
                          .col-md-6
                            img(src="uploads/amscar2017/dummy.png")
                            h4.name -
                            h5 -
                            +dropdown("Am荧幕情侣_Gladys_士安")
                          .col-md-6
                            img(src="uploads/amscar2017/dummy.png")
                            h4.name -
                            h5  -
                            +dropdown("Am荧幕情侣_李宜恩_陈祥潮")
                          .col-md-6
                            img(src="uploads/amscar2017/dummy.png")
                            h4.name -
                            h5  -
                            +dropdown("Am荧幕情侣_长智与长智右手")
                          .col-md-6
                            img(src="uploads/amscar2017/dummy.png")
                            h4.name -
                            h5  -
                            +dropdown("Am荧幕情侣_OneWay，彦桦")
                  .tab-pane.fade.in.align-left#amshen
                      h2 Am神
                      .container-fluid.align-center
                          .col-md-6
                            img(src="uploads/amscar2017/Am神/20170328_123626_Am神_钟秉声_覃子豪.jpg")
                            h4.name 钟秉声
                            h5 生活在美国时区。强大的学习能力、暖男能力！美食、网站都是他的代表作哦！
                            +dropdown("Am神_钟秉声")
                          .col-md-6
                            img(src="uploads/amscar2017/dummy.png")
                            h4.name -
                            h5 -
                            +dropdown("Am睡神_覃子豪")
                          .col-md-6
                            img(src="uploads/amscar2017/dummy.png")
                            h4.name -
                            h5 -
                            +dropdown("Am睡神_Gladys与王玮")
                  .tab-pane.fade.in.align-left#amsap
                      h2 AmSap
                      .container-fluid.align-center
                          .col-md-6
                            img(src="uploads/amscar2017/AmSap/20170320_104658_AmSap_张洁恩_蔡茗怡.jpg")
                            h4.name 张洁恩
                            h5 鲜嫩多汁屁股狩猎者，还需要其他理由？
                            +dropdown("AmSap_张洁恩")
                  .tab-pane.fade.in.align-left#ampattern
                      h2 AmPattern
                      .container-fluid.align-center
                          .col-md-6
                            img(src="uploads/amscar2017/AmPattern/20170320_65313_AmPattern__牛奶妹joee_静静.jpg")
                            h4.name 牛奶妹joee
                            h5 -
                            +dropdown("AmPattern_牛奶妹joee")
                          .col-md-6
                            img(src="uploads/amscar2017/dummy.png")
                            h4.name -
                            h5 -
                            +dropdown("AmPattern_纪智胜")
                          .col-md-6
                            img(src="uploads/amscar2017/dummy.png")
                            h4.name -
                            h5 -
                            +dropdown("AmPattern_郭建升")
                          .col-md-6
                            img(src="uploads/amscar2017/dummy.png")
                            h4.name -
                            h5 -
                            +dropdown("AmPattern_郭建升2")
                          .col-md-6
                            img(src="uploads/amscar2017/dummy.png")
                            h4.name -
                            h5 - 
                            +dropdown("AmPattern_陈卓彦")
                          .col-md-6
                            img(src="uploads/amscar2017/dummy.png")
                            h4.name -
                            h5 - 
                            +dropdown("AmPattern_郑德威")
                  .tab-pane.fade.in.align-left#amdrydry
                      h2 AmDryDry
                      .container-fluid.align-center
                          .col-md-6
                            img(src="uploads/amscar2017/dummy.png")
                            h4.name -
                            h5 -
                            +dropdown("AmDryDry_GARY")
                          .col-md-6
                            img(src="uploads/amscar2017/dummy.png")
                            h4.name -
                            h5 -
                            +dropdown("AmDryDry_梁理文")
                          .col-md-6
                            img(src="uploads/amscar2017/dummy.png")
                            h4.name -
                            h5 -
                            +dropdown("AmDryDry_郑释恩")
                          .col-md-6
                            img(src="uploads/amscar2017/dummy.png")
                            h4.name -
                            h5 -
                            +dropdown("AmDryDry_张王玮")


        .col-lg-1
                
               

block script
  script(src="js/amscarVoting.js")