extends ./layout.jade

block head
  link(href="./css/animate.min.css", rel="stylesheet")
  link(href="./css/profile.css", rel="stylesheet")

block content  
    br
    h2 投票成功！感谢您的投票！
    h4 想知道最新成绩？赶快#[a(href="http://amcisa.org/gh/amscarResult2017.html") 点击这里]！
    h4 点击这里#[a(href="http://amcisa.org/") 回到主页]。
    br
    h4 若需要修改投票，请联络网持。
