extends ./layout.jade

block title
  title AmTee Voting Portal

block head
  link(href="./css/animate.min.css", rel="stylesheet")
  link(href="./css/profile.css", rel="stylesheet")
  link(href="./css/amteeVoting.css", rel="stylesheet")

block content 
  +modal 
  +login_iframe()
  .wrapper
    br
    h1 AmTee Voting Portal
    h3 请点击选择你所喜欢的设计，然后到底下点击“确认投票”。
    h3 一人一票，AmTee马上到！
    br

    .col-lg-1
    .col-lg-10
      .container.btn-group(data-toggle='buttons')
        label.col-md-12.col-md-6.btn.options
          input(type="radio" name = "rdbtn" value="AMTEE唯我第一" id="1" autocomplete="off")
          img(src="uploads/20160215_80619_AMTEE唯我第一_陈淑婷、莫翠茵.jpg")
          

        label.col-md-12.col-md-6.btn.options
          input(type="radio" name = "rdbtn" value="1" id="2")
          img(src="uploads/20160215_92244_1_陈淑婷.jpg")
              

        label.col-md-12.col-md-6.btn.options
          input(type="radio" name = "rdbtn" value="2(1)" id="3")
          img(src="uploads/20160215_93725_2_陈淑婷.jpg")
              
              

        label.col-md-12.col-md-6.btn.options
          input(type="radio" name = "rdbtn" value="2(2)" id="4")  
          img(src="uploads/20160215_93734_2_陈淑婷.jpg")
              
                          

        label.col-md-12.col-md-6.btn.options
          input(type="radio" name = "rdbtn" value="3" id="5")
          img(src="uploads/20160215_93739_3_陈淑婷.jpg") 
              
                         

        label.col-md-12.col-md-6.btn.options
          input(type="radio" name = "rdbtn" value="AMTEE" id="6")    
          img(src="uploads/20160216_03443_AMTee__陈安时.jpg")
          

        label.col-md-12.col-md-6.btn.options
          input(type="radio" name = "rdbtn" value="Am服服" id="7")    
          img(src="uploads/20160219_205627_Am服服_他不想给你知道.jpg")
    
      br
      br
      button(onclick="runRPC()").btn.btn-success
        h3 确认投票
      br
      br


    .col-lg-1

  

block script
  script(src="js/amtee_voting.js")

