extends ./layout.jade

block title
  title AmTee Voting Portal

block head
  link(href="./css/animate.min.css", rel="stylesheet")
  link(href="./css/profile.css", rel="stylesheet")
  link(href="./css/amteeVoting.css", rel="stylesheet")

block content 
  +modal 
  +login_iframe()
  .wrapper
    br
    h1 AmTee Voting Portal
    h3 请点击选择你所喜欢的设计，然后到底下点击“确认投票”。
    h3 一人一票，AmTee马上到！
    br

    .col-lg-1
    .col-lg-10
      form.form-horizontal.btn-group(data-toggle='buttons')
        .form-group
          label.col-lg-3
            h3 作品名称：AMTEE唯我第一
            h3 作者：陈淑婷、莫翠茵

          .col-lg-9
            label.btn.btn-danger.imgradio
              img(src="uploads/20160215_80619_AMTEE唯我第一_陈淑婷、莫翠茵.jpg")
              input(type="radio" name = "rdbtn" value="AMTEE唯我第一" id="1" autocomplete="off")

        .form-group
          label.col-lg-3
            h3 作品名称：1
            h3 作者：陈淑婷
          .col-lg-9
            label.btn.btn-danger.imgradio
              img(src="uploads/20160215_92244_1_陈淑婷.jpg")
              input(type="radio" name = "rdbtn" value="1" id="2")
              

        .form-group
          label.col-lg-3
            h3 作品名称：2(1)
            h3 作者：陈淑婷
          .col-lg-9
            label.btn.btn-danger.imgradio
              img(src="uploads/20160215_93725_2_陈淑婷.jpg")
              input(type="radio" name = "rdbtn" value="2(1)" id="3")
              

        .form-group
          label.col-lg-3
            h3 作品名称：2(2)
            h3 作者：陈淑婷
          .col-lg-9
            label.btn.btn-danger.imgradio
              img(src="uploads/20160215_93734_2_陈淑婷.jpg")
              input(type="radio" name = "rdbtn" value="2(2)" id="4")
                          

        .form-group
          label.col-lg-3
            h3 作品名称：3
            h3 作者：陈淑婷
          .col-lg-9
            label.btn.btn-danger.imgradio
              img(src="uploads/20160215_93739_3_陈淑婷.jpg") 
              input(type="radio" name = "rdbtn" value="3" id="5")
                         

        .form-group
          label.col-lg-3
            h3 作品名称：AMTEE
            h3 作者：陈安时
          .col-lg-9
            label.btn.btn-danger.imgradio
              img(src="uploads/20160216_03443_AMTee__陈安时.jpg")
              input(type="radio" name = "rdbtn" value="AMTEE" id="6" onclick="click()")
              
            

        .form-group
          label.col-lg-3
            h3 作品名称：Am服服
            h3 作者：他不想给你知道
          .col-lg-9
            label.btn.btn-danger.imgradio
              img(src="uploads/20160219_205627_Am服服_他不想给你知道.jpg")
              input(type="radio" name = "rdbtn" value="Am服服" id="7")
              
            
    
      button(onclick="runRPC()").btn.btn-success
        h3 确认投票
      
      br
      br

    .col-lg-1
  

block script
  script(src="js/amtee_voting.js")

