extends ./layout.jade

block title
  title Course Overview

block content
  .container.grey-bg.fillx
    h1 各科资料参考
  .container.grey-bg.fillx.align-left
    :markdown
      College of  Engineering

      [School of Chemical and Bioengineering](#SCBE)

      - [Bioengineering](#BIE)

      - [Chemical and Biomolecular Engineering](#CBE)

      [School of Mechanical and Aerospace Engineering](#MAE)

      - [Mechanical Engineering](#ME)

      - [Aerospace Engineering](#AE)

      [School of Civil and Environmental Engineering](#CEE)

      - [Civil Engineering](#CIE)

      - [Environmental Engineering](#ENE)

      [School of Computer Engineering](#SCE)

      - [Computer Engineering](#CE)

      - [Computer Science](#CS)

      [School of Electrical and Electronic Engineering](#EEE)

      [School of Material Science and Engineering](#MSE)


