extends ./layout.jade

block title
  title Events

block head 
  link(href="./css/animate.min.css", rel="stylesheet")
  link(href="./css/index.css", rel="stylesheet")

block content  
  br
  section#recent-events.wow.rollIn
    h1 活动全集
    .line

    a(href="events/16-17/ntu.EWR_16-17.index.html").col-md-4
      .image-text
       h2 #NTU AMCISA EWR 16/17 Sem1
        p
          |吃迟迟吃吃吃吃吃吃吃吃~
          |eat eat eat eat eat eat eat！

      img(src='./img/16-17/ntu.EWR_16-17/EWR_16-17_background.jpg')
        
    a(href="events/16-17/ntu.amsohai.index.html").col-md-4
      .image-text
       h2 #NTU AMCISA AMSOHIGH 16/17
        p
          | 超high
          | 睡衣趴
      img(src='./img/16-17/ntu.amsohigh/amsohigh_background.png')

    a(href="events/16-17/ntu.talentnight.index.html").col-md-4
      .image-text
       h2 #NTU AMCISA TALENT NIGHT 16/17
        p
          | 
          | 
      img(src='./img/16-17/ntu.talentnight/talentnight.jpg')

    a(href="http://tinyurl.com/1617ntufoa").col-md-4
      .image-text
        h2 #NTU AMCISA FOA 16/17
        p
          | 现已开放给大马留学南大的新生参加。迎新营期间，学长姐将会协助学弟妹办理入学手续，
          | 也将与学弟妹分享宝贵的经验以解除他们的困惑。当然少不了许多刺激好玩的游戏为你精彩的大学生活揭开序幕!!!
      img(src='./img/15-16/ntu.foa/poster.jpg')

    a(href="events/15-16/nus.foc.index.html").col-md-4
      .image-text
        h2 #NUS AMCISA FOC 16/17 迎新营
        p
          |为了让新生更快适应大学生活,认识更多来自相同背景的朋友，NUS AMCISA FOCComm 筹备了迎新营，以迎接在 2016/17 学年进入NUS就读的学弟妹。
      
      img(src='./img/15-16/nus.foc/poster.photo.jpg')

    a(href="events/15-16/ntu.ewr2.index.html").col-md-4
      .image-text
        h2 #NTU 15-16 EWR2.0 
        p
          | （上帝降临）
          |神：“那我来安排一场 AMCISA EWR2.0 吧”
      
      img(src='./img/15-16/ntu.ewr2/poster.jpg')

    a(href="events/15-16/ntu.amscar.index.html").col-md-4
      .image-text
        h2 #NTU AmScar 2016
        p
          | 又到了一年一度AMCISA的Am斯卡季节！
          | 自己想要出名，还是想要朋友红遍AMCISA，这是你最好的机会!
      
      img(src='./img/15-16/ntu.amscar/poster.jpg')
    
    a(href="events/15-16/ntu.msd.index.html").col-md-4
      .image-text
        h2 #NTU Malaysian Sports Day
        p
          | Feeling tired of study? Wishing to make more friends? Looking for a break?
          | Show us your sports talent! Ladies and gentlemen, hesitate no more and join us for Malaysian Sports Day 2016!
      
      img(src='./img/15-16/ntu.msd/poster.photo.jpg')

    a(href="events/15-16/ntu.debate.index.html").col-md-4
      .image-text
        h2 #NTU 《呛战，辩种人！》辩论赛
        p
          | 这些人生中的两难抉择，你自己有没有立场？你对于你的信念，到底够不够坚定？
          | 请把握好这一次的机会！踊跃组队报名参加由AMCISA破天荒主办的第一届呛声辩论比赛《呛战，辩种人》！
      
      img(src='./img/15-16/ntu.debate/poster.photo.jpg')

    a(href="events/15-16/ntu.amcny.index.html").col-md-4
      .image-text
        h2 #NTU AMCISA AmCNY
        p
          | 一年一度的AMCNY又回来！提供了一个平台让每个忙碌的小伙伴们趁新年将至而欢聚在一起。
          | 邀请大家前往支持!
      img(src='./img/15-16/ntu.amcny/poster.photo.jpg')


    a(href="events/15-16/amc.amtee.index.html").col-md-4
      .image-text
        h2 #AMCISA AMTee会服设计比赛
        p
          | AMCISA会员们，久违的 “ AMTee会服设计比赛 ” 2016年重磅来袭!!
          | 我们再次号召极富艺术才华的会员们，以AMTee为画布，尽情挥洒你们的创作与想象力，为AMCISA设计更具张力的徽标～
          | AMTee一件，创意无限，敬请踊跃参与!!
      img(src='./img/15-16/amc.amtee/poster.photo.jpg')

    a(href="events/15-16/nus.outing.index.html").col-md-4
        .image-text
          h2 #NUS AMCISA Member Outing
          p
            | 久违的Member Outing 回来咯！！
            | 趁着新学期的开始，赶快把握时机和大家相聚，一起玩一起出游！
            | 我们这次将会一起去SENTOSA！有风景宜人的沙滩，让你瞬间忘我的游戏，有你我他一起去！
        img(src='./img/15-16/nus.outing/poster.photo.jpg')

    a(href="events/15-16/ntu.ewr.index.html").col-md-4
      .image-text
        h2 #NTU AMCISA EWR
        p
          | AMCISA EWR  一直以来都使用一个不外传的神奇秘方
          | 其味道能挑动你的神经，振奋你的细胞
          | 死了也能活起来，越读越带劲
      img(src='./img/15-16/ntu.ewr/poster.photo.jpg')
  
    a(href="events/15-16/ntu.ammo.index.html").col-md-4
      .image-text
        h2 #NTU AMCISA Member Outing 15/16 之 《盛夏拾忆度》
        p
          | 那一个盛情的夏天，那一个我们携手拼凑美好回忆的蓝天！
          | 你是否不经意回忆起曾经青春热血的往日？别担心，机会就在这里：
          | AMMO（Amcisa Member Outing） 1516 之 《盛夏拾忆度》 来了！
      img(src='./img/15-16/ntu.ammo/poster.photo.jpg')


    a(href="events/15-16/ntu.amkidkid.index.html").col-md-4
      .image-text
        h2 #NTU AMCISA AmKidKid
        p
          | 如果有一天,小叮当的时光机出现了,你, 愿意给自己一个机会吗?你,愿意回到最单纯美好的那段时光吗？ 
          | AmKidKid 正是个时光机，给你我一个机会，共同穿越时光隧道，回到那个乐趣无穷的时代！ 我们一起掀起疯狂无忧的童年！
      img(src='./img/15-16/ntu.amkidkid/poster.photo.jpg')

    a(href="http://foa.amcisa.org/").col-md-4
      .image-text
        h2 #NTU AMCISA FOC 15/16 D'Agent
        p
          | 现已开放给大马留学南大的新生参加。迎新营期间，学长姐将会协助学弟妹办理入学手续，
          | 也将与学弟妹分享宝贵的经验以解除他们的困惑。当然少不了许多刺激好玩的游戏为你精彩的大学生活揭开序幕!!!
      img(src='./img/14-15/ntu.foa/poster.photo.min.jpg')

    a(href="events/14-15/nus.foc.index.html").col-md-4
      .image-text
        h2 #NUS AMCISA FOC 15/16 Lumiere
        p
          | 为了让新生更快适应大学生活,认识更多来自相同背景的朋友，NUS AMCISA FOCComm筹备了为期六天的迎新营，
          | 以迎接于 2015/16 学年进入NUS就读的学弟妹。
      img(src='./img/14-15/nus.foc/poster.photo.min.jpg')

    a(href="events/14-15/ntu.ewr2.index.html").col-md-4
      .image-text
        h2 #NTU Exam Welfare Refereshment 2.0
        p
          | Final和Assignment due date慢慢逼近，现在的你是不是非常紧绷呢？
          | 歇息充电一会后再继续冲刺吧!
      img(src='./img/14-15/ntu.ewr2/poster.photo.min.jpg')

    a(href="events/14-15/ntu.msd.index.html").col-md-4
      .image-text
        h2 #NTU Malaysian Sports Day
        p
          | MSD is an annual event where Malaysian students currently
          | studying in Singapore can get together and take part in a day of Sports and Games!"
      img(src='./img/14-15/ntu.msd/poster.photo.min.jpg')

    a(href="events/14-15/nus.cohesion.index.html").col-md-4
      .image-text
        h2 #NUS MSL-AMCISA Cohesion 2015
        p
          | 2GATHER 2.0 is baacck!!! XD. It is a great chance for all the Malaysians 
          | in NUS to bond with each other.This time we will be having station games, water games,
          | BBQ session and many more!
      img(src='./img/14-15/nus.cohesion/poster.photo.min.jpg')

    a(href="events/14-15/ntu.ammo.index.html").col-md-4
      .image-text
        h2 #NTU AMCISA Member Outing
        p
          | (AMMO)是一个以凝聚、团结AMCISA会员为目标的活动。
          | 在各自忙碌的大学生涯里，想找个喘息的空间？想和好朋友出走，却没有时间筹办？好机会来了！！ 
          | 歡迎参加ammo！
      img(src='./img/14-15/ntu.ammo/poster.photo.min.jpg')

    a(href="events/14-15/nus.outing.index.html").col-md-4
      .image-text
        h2 #NUS AMCISA Member Outing
        p
          | 一系列精彩活动， 升华彼此的友谊， 丰富生命的风景， 愿能为你们在新的学期里，烙下一页感人的回忆~~
      img(src='./img/14-15/nus.outing/poster.photo.min.jpg')

    a(href="events/14-15/amc.mygather.index.html").col-md-4
      .image-text
        h2 #NTU Malaysian Gathering
        p
          | 开学时期来临了，是时候恢复放假心情，准备上课了…. 
          | 但是，你接下来的大学人生不会只是上课，读书，上课，读书吧……  
          | 所以，不妨加入这个由NTU AMCISA和NTU MSA联合精心举办一年一度的Malaysian Gathering吧!!!
      img(src='./img/14-15/amc.mygather/poster.photo.min.jpg')

    a(href="events/14-15/ntu.amcny.index.html").col-md-4
      .image-text
        h2 #NTU AmCNY
        p
          | 羊年的脚步已临近​，当辞旧的钟声在大地回荡，当喜庆的焰花在星空绽放，一个崭新的春天，\
          | 已经向我们靠近。
      img(src='./img/14-15/ntu.amcny/poster.photo.min.jpg')

    a(href="events/14-15/ntu.ewr.index.html").col-md-4
      .image-text
        h2 #NTU Exam Welfare Refreshment
        p
          | Final要到了，现在的你是不是非常紧绷呢？ 新鲜出炉的AMCISA Exam Welfare Refreshment邀你来歇息充电，\
          | 和朋友聊天，吃些精致的小点心，尽情地放松。
      img(src='./img/14-15/ntu.ewr/poster.photo.min.jpg')

    a(href="events/14-15/ntu.halloween.index.html").col-md-4
      .image-text
        h2 #NTU Amhallo
        p
          | 2014年10月26日，当晚上7点30分的钟声响起，我们将在远处的古堡，等待着您与南瓜车的光临。
      img(src='./img/14-15/ntu.halloween/poster.photo.min.jpg')

    