extends ./layout.jade

block title
  title Events

block content
  .panel.panel-success
    .panel-heading
      h1 All Events
    .panel-body
      a(href="events/ntu.halloween.index.html")     
        .col-md-4
          .box-sh
            img(src="img/14-15/ntu.halloween.logo.png")
          h2 #NTU Halloween
      a(href="http://goo.gl/Rkexwc")
        .col-md-4
          .box-sh
            img(src="img/14-15/nus.ammaf.logo.png") 
          h2 #NUS 中秋晚会
      a(href="events/amc.talent.index.html")
        .col-md-4
          .box-sh
            img(src="img/14-15/amc.talent.logo.png")
          h2 #Amcisa Talent Night
      a(href="http://goo.gl/Z6U9lP")     
        .col-md-4
          .box-sh
            img(src="img/14-15/ntu.ganen.logo.png")
          h2 #NTU 感恩的季节
      a(href="events/nus.telok.index.html")     
        .col-md-4
          .box-sh
            img(src="img/14-15/nus.telok.logo.png")
          h2 #NUS Telok Bangah Run
        