extends ./layout.jade

block title
  title Events

block head 
  link(href="./css/animate.min.css", rel="stylesheet")
  link(href="./css/index.css", rel="stylesheet")

block content  
  br
  section#recent-events.wow.rollIn
    h1 活动全集
    .line

    a(href="events/16-17/ntu.talentnight.index.html").col-md-4
      .image-text
       h2 #NTU AMCISA Talent Night 17/18
        p
          | 在紧张又刺激的FOA后，大家是不是还意犹未尽，心里还有股浓浓的热忱呢？就是现在！让才华洋溢、热力四射的你们展现不凡的自己的时候到了。 AMCISA TALENT NIGHT，为你们提供了一个华丽的舞台，让大家在舞台上尽情的奔放，绚烂夺目。青春不留白！赶快报名参加TALENT NIGHT一起狂欢吧!

      img(src='./img/17-18/ntu.talentnight/talentnight.jpg')

    a(href="events/16-17/ntu.EWR_2.0.index.html").col-md-4
      .image-text
       h2 #NTU AMCISA EWR 2.0 16/17
        p
          | Hey yo！继EWR1.0的丰盛宵夜之后，所谓小别胜新欢，今次AMGELABABY将为大家带来阿莲米粉，势必让在各个角落K书的你充满更多正能量，战胜将至的期末考！此活动保证让你大饱口福，欢迎大家参与。5.0，我们不见不散！ 备注：价格不论新币马币，只论缅元——免费！

      img(src='./img/16-17/ntu.EWR_2.0/EWR_2.0.jpg')

    a(href="events/16-17/ntu.SFP.index.html").col-md-4
      .image-text
       h2 #NTU Senior Farwell Party (SFP 16/17)
        p
          | 即将毕业seniors 们，时光荏苒，跑道两旁的霓虹灯再次闪烁，已经大四的你们即将登上大学的最后一个班机，开启新一段的浩荡旅程。          在离开前，是否还想与好友共欢一场？举起酒杯畅谈这四年在 NTU 的点点滴滴，放心， AMCISA got you covered。          这段旅程，我们邀请到为 party 而存在的班机 SN1314，特此降落献给你们毕生难忘的 senior farewell party。          不怕缺美酒、佳肴、演唱、舞池，只怕你不来 ~ 请接受我们这诚心的邀请！

      img(src='./img/16-17/ntu.SFP/SFP.poster.png')

    a(href="events/16-17/ntu.MSD.index.html").col-md-4
      .image-text
       h2 #NTU Malaysian Sports Day (MSD) 2017
        p
          | he long-awaited Malaysian Sports Day is back! As usual, we hope to bond the Malaysian students all around Singapore through fun and interesting sport activities! Hesitate no more and join us now!

      img(src='./img/16-17/ntu.MSD/msd.poster.png')

    a(href="events/16-17/ntu.Malaysian_Gathering.index.html").col-md-4
      .image-text
       h2 #NTU Malaysian Gathering 2017
        p
          | Amcisa 和 MSA 联办的年度聚会再次来袭！不要错过这个与同乡人之间的bonding activity！
          （注：活动已结束，点击下方按钮给予反馈！）

      img(src='./img/16-17/ntu.Malaysian_Gathering/poster.png')

    a(href="events/16-17/nus.memberouting.index.html").col-md-4
      .image-text
       h2 #NUS AMCISA 会员聚会
        p
          | 一年一度的Amsica Member Outing又来了哦!! 佳节即将来临，让我们AMCISA的兄弟姐妹们一起出游玩耍吧:) 当天备有精彩的游戏供大家参与，希望大家踊跃参与:D

      img(src='./img/16-17/nus.memberouting/memberouting_poster.jpg')
    
    a(href="events/16-17/nus.examsupper.index.html").col-md-4
      .image-text
       h2 #NUS 1 千 1 百 1 十 1 夜 Exam Supper
        p
          | 1 个 Sem 就快结束了，接下来就只剩下 Final 和许多的 Projects，周围的神人们给予的种种压力是否让你无法喘气并且让你对 CAP 5 的渴望加剧？ 但是大学不只是 CAP 或竞争，在这个压力大的环境中不如大家一同歇下来与朋友聚一聚、聊一聊、放松心情。当我们充满了电才会有精神继续努力和奋斗！在这个1千1百1十1夜 就让大家聚在一起并放松心情地玩游戏吧！

      img(src='./img/16-17/nus.examsupper/examsupper_poster.jpg')
    
    a(href="events/16-17/nus.cohesion.index.html").col-md-4
      .image-text
       h2 #NUS AMCISA-MSL Cohesion 交流会
        p
          | 在马来西亚，也许我们相距千里，也许我们不曾认识彼此。然而，在新加坡这个小小的国度，NUS把我们都聚在一起了。偶尔走在路上，在讲堂，在群组活动，在社团，我们会偶然地发现原来彼此都是马来西亚人，都是同乡的，当下一股暖流淌过心底。趁着这个机会，就让我们认识更多与我们一样背井离乡来到这里求学的马来西亚人吧，建立起我们在新加坡的手足情。活动内容多姿多彩哦，进行方式是比较freestyle的，我们会进行球类活动，比如掷飞盘，踢球，还有扑克牌，三国杀，这些活动都可以促进彼此的交流和提供一个平台让大家互相认识。更重要的当然是食物啦（三文治，意大利面，水果）大家一定要踊跃参与哦！

      img(src='./img/16-17/nus.cohesion/cohesion_poster.jpg')    

    a(href="events/16-17/nus.midautumn.index.html").col-md-4
      .image-text
       h2 #NUS 薯仔与莎莎的月光舞会
        p
          |大家是否很怀念当年中秋赏月、提灯笼、吃月饼的日子咧？ 一年一度的AMCISA中秋晚会又回来啦~ 这次我们将连同马来西亚日一起庆祝。而今年的主题是《薯仔与莎莎的月光舞会》，以薯仔和莎莎分别代表来自马来半岛与沙巴沙拉越的大家！新一届AMCISA Main Comm (AMtopia)将为大家尽心准备各种美食与节目！

      img(src='./img/16-17/nus.midautumn/midautumn_poster.png') 
      
    a(href="events/16-17/ntu.AMCNY.index.html").col-md-4
      .image-text
       h2 #NTU AMCNY 16/17 
        p
          |岁月悠悠 光阴如箭回首起一年下来发生的事 不知道有哪件事让你最刻骨铭心的呢?有离家的无奈 有错过的风景 还是 有努力换来的收获 有无法抹去的难忘回忆?这一年的旅程经历 伴随在你身边陪你一起度过的又是谁呢?一年又一年 不管多忙碌 别忘了趁着这个新春佳节为你关心的他送上祝福让时间酝酿出来的酸甜苦辣 在踏上春运的列车回家过年前叙旧团圆 欢聚一堂 共襄盛举 把祝福分享给每一个你珍惜你在乎的他

      img(src='./img/16-17/ntu.AMCNY/poster.photo.png') 

    a(href="events/16-17/ntu.AMMO_16-17.index.html").col-md-4
      .image-text
       h2 #NTU AMCISA Member Outing 16/17 之 《炽夏的律动》
        p
          |如果来得及站上以光速前行的秒针，就能让时间回溯一点点。 在似水流年里踱步，大概能看清你扬起嘴角瞬间阳光明媚的侧脸。 而我们又该如何定义青春的模样，是放肆还是寂寥的形状，脑海中的群像光影般掠过，你我他与她，小小黑点汇成无法磨灭的记忆。 我们就这样一起走过。 It’s youth, it’s life. 这故事，这青春，未完待续。

      img(src='./img/16-17/ntu.ammo/AMMO_bg.jpg')

    a(href="events/16-17/ntu.EWR_16-17.index.html").col-md-4
      .image-text
       h2 #NTU AMCISA EWR 16/17 Sem1
        p
          |Hey yo！ 继AM SO HIGH的丰盛宵夜之后，所谓小别胜新欢，今次AMGELABABY将再一次热血出击，以满满的爱心与你意想不到的食材，铺陈一顿让你味蕾无可抗力的美食,，势必让在各个角落K书的你充满更多正能量，战胜将至的期末考！

      img(src='./img/16-17/ntu.EWR_16-17/EWR_16-17_background.jpg')
        
    a(href="events/16-17/ntu.amsohai.index.html").col-md-4
      .image-text
       h2 #NTU AMCISA AMSOHIGH 16/17
        p
          | 超high
          | 睡衣趴
      img(src='./img/16-17/ntu.amsohigh/amsohigh_background.png')

    a(href="events/16-17/ntu.talentnight.index.html").col-md-4
      .image-text
       h2 #NTU AMCISA TALENT NIGHT 16/17
        p
          | 
          | 
      img(src='./img/16-17/ntu.talentnight/talentnight.jpg')

    a(href="http://tinyurl.com/1617ntufoa").col-md-4
      .image-text
        h2 #NTU AMCISA FOA 16/17
        p
          | 现已开放给大马留学南大的新生参加。迎新营期间，学长姐将会协助学弟妹办理入学手续，
          | 也将与学弟妹分享宝贵的经验以解除他们的困惑。当然少不了许多刺激好玩的游戏为你精彩的大学生活揭开序幕!!!
      img(src='./img/15-16/ntu.foa/poster.jpg')

    a(href="events/15-16/nus.foc.index.html").col-md-4
      .image-text
        h2 #NUS AMCISA FOC 16/17 迎新营
        p
          |为了让新生更快适应大学生活,认识更多来自相同背景的朋友，NUS AMCISA FOCComm 筹备了迎新营，以迎接在 2016/17 学年进入NUS就读的学弟妹。
      
      img(src='./img/15-16/nus.foc/poster.photo.jpg')

    a(href="events/15-16/ntu.ewr2.index.html").col-md-4
      .image-text
        h2 #NTU 15-16 EWR2.0 
        p
          | （上帝降临）
          |神：“那我来安排一场 AMCISA EWR2.0 吧”
      
      img(src='./img/15-16/ntu.ewr2/poster.jpg')

    a(href="events/15-16/ntu.amscar.index.html").col-md-4
      .image-text
        h2 #NTU AmScar 2016
        p
          | 又到了一年一度AMCISA的Am斯卡季节！
          | 自己想要出名，还是想要朋友红遍AMCISA，这是你最好的机会!
      
      img(src='./img/15-16/ntu.amscar/poster.jpg')
    
    a(href="events/15-16/ntu.msd.index.html").col-md-4
      .image-text
        h2 #NTU Malaysian Sports Day
        p
          | Feeling tired of study? Wishing to make more friends? Looking for a break?
          | Show us your sports talent! Ladies and gentlemen, hesitate no more and join us for Malaysian Sports Day 2016!
      
      img(src='./img/15-16/ntu.msd/poster.photo.jpg')

    a(href="events/15-16/ntu.debate.index.html").col-md-4
      .image-text
        h2 #NTU 《呛战，辩种人！》辩论赛
        p
          | 这些人生中的两难抉择，你自己有没有立场？你对于你的信念，到底够不够坚定？
          | 请把握好这一次的机会！踊跃组队报名参加由AMCISA破天荒主办的第一届呛声辩论比赛《呛战，辩种人》！
      
      img(src='./img/15-16/ntu.debate/poster.photo.jpg')

    a(href="events/15-16/ntu.amcny.index.html").col-md-4
      .image-text
        h2 #NTU AMCISA AmCNY
        p
          | 一年一度的AMCNY又回来！提供了一个平台让每个忙碌的小伙伴们趁新年将至而欢聚在一起。
          | 邀请大家前往支持!
      img(src='./img/15-16/ntu.amcny/poster.photo.jpg')


    a(href="events/15-16/amc.amtee.index.html").col-md-4
      .image-text
        h2 #AMCISA AMTee会服设计比赛
        p
          | AMCISA会员们，久违的 “ AMTee会服设计比赛 ” 2016年重磅来袭!!
          | 我们再次号召极富艺术才华的会员们，以AMTee为画布，尽情挥洒你们的创作与想象力，为AMCISA设计更具张力的徽标～
          | AMTee一件，创意无限，敬请踊跃参与!!
      img(src='./img/15-16/amc.amtee/poster.photo.jpg')

    a(href="events/15-16/nus.outing.index.html").col-md-4
        .image-text
          h2 #NUS AMCISA Member Outing
          p
            | 久违的Member Outing 回来咯！！
            | 趁着新学期的开始，赶快把握时机和大家相聚，一起玩一起出游！
            | 我们这次将会一起去SENTOSA！有风景宜人的沙滩，让你瞬间忘我的游戏，有你我他一起去！
        img(src='./img/15-16/nus.outing/poster.photo.jpg')

    a(href="events/15-16/ntu.ewr.index.html").col-md-4
      .image-text
        h2 #NTU AMCISA EWR
        p
          | AMCISA EWR  一直以来都使用一个不外传的神奇秘方
          | 其味道能挑动你的神经，振奋你的细胞
          | 死了也能活起来，越读越带劲
      img(src='./img/15-16/ntu.ewr/poster.photo.jpg')
  
    a(href="events/15-16/ntu.ammo.index.html").col-md-4
      .image-text
        h2 #NTU AMCISA Member Outing 15/16 之 《盛夏拾忆度》
        p
          | 那一个盛情的夏天，那一个我们携手拼凑美好回忆的蓝天！
          | 你是否不经意回忆起曾经青春热血的往日？别担心，机会就在这里：
          | AMMO（Amcisa Member Outing） 1516 之 《盛夏拾忆度》 来了！
      img(src='./img/15-16/ntu.ammo/poster.photo.jpg')


    a(href="events/15-16/ntu.amkidkid.index.html").col-md-4
      .image-text
        h2 #NTU AMCISA AmKidKid
        p
          | 如果有一天,小叮当的时光机出现了,你, 愿意给自己一个机会吗?你,愿意回到最单纯美好的那段时光吗？ 
          | AmKidKid 正是个时光机，给你我一个机会，共同穿越时光隧道，回到那个乐趣无穷的时代！ 我们一起掀起疯狂无忧的童年！
      img(src='./img/15-16/ntu.amkidkid/poster.photo.jpg')

    a(href="http://foa.amcisa.org/").col-md-4
      .image-text
        h2 #NTU AMCISA FOC 15/16 D'Agent
        p
          | 现已开放给大马留学南大的新生参加。迎新营期间，学长姐将会协助学弟妹办理入学手续，
          | 也将与学弟妹分享宝贵的经验以解除他们的困惑。当然少不了许多刺激好玩的游戏为你精彩的大学生活揭开序幕!!!
      img(src='./img/14-15/ntu.foa/poster.photo.min.jpg')

    a(href="events/14-15/nus.foc.index.html").col-md-4
      .image-text
        h2 #NUS AMCISA FOC 15/16 Lumiere
        p
          | 为了让新生更快适应大学生活,认识更多来自相同背景的朋友，NUS AMCISA FOCComm筹备了为期六天的迎新营，
          | 以迎接于 2015/16 学年进入NUS就读的学弟妹。
      img(src='./img/14-15/nus.foc/poster.photo.min.jpg')

    a(href="events/14-15/ntu.ewr2.index.html").col-md-4
      .image-text
        h2 #NTU Exam Welfare Refereshment 2.0
        p
          | Final和Assignment due date慢慢逼近，现在的你是不是非常紧绷呢？
          | 歇息充电一会后再继续冲刺吧!
      img(src='./img/14-15/ntu.ewr2/poster.photo.min.jpg')

    a(href="events/14-15/ntu.msd.index.html").col-md-4
      .image-text
        h2 #NTU Malaysian Sports Day
        p
          | MSD is an annual event where Malaysian students currently
          | studying in Singapore can get together and take part in a day of Sports and Games!"
      img(src='./img/14-15/ntu.msd/poster.photo.min.jpg')

    a(href="events/14-15/nus.cohesion.index.html").col-md-4
      .image-text
        h2 #NUS MSL-AMCISA Cohesion 2015
        p
          | 2GATHER 2.0 is baacck!!! XD. It is a great chance for all the Malaysians 
          | in NUS to bond with each other.This time we will be having station games, water games,
          | BBQ session and many more!
      img(src='./img/14-15/nus.cohesion/poster.photo.min.jpg')

    a(href="events/14-15/ntu.ammo.index.html").col-md-4
      .image-text
        h2 #NTU AMCISA Member Outing
        p
          | (AMMO)是一个以凝聚、团结AMCISA会员为目标的活动。
          | 在各自忙碌的大学生涯里，想找个喘息的空间？想和好朋友出走，却没有时间筹办？好机会来了！！ 
          | 歡迎参加ammo！
      img(src='./img/14-15/ntu.ammo/poster.photo.min.jpg')

    a(href="events/14-15/nus.outing.index.html").col-md-4
      .image-text
        h2 #NUS AMCISA Member Outing
        p
          | 一系列精彩活动， 升华彼此的友谊， 丰富生命的风景， 愿能为你们在新的学期里，烙下一页感人的回忆~~
      img(src='./img/14-15/nus.outing/poster.photo.min.jpg')

    a(href="events/14-15/amc.mygather.index.html").col-md-4
      .image-text
        h2 #NTU Malaysian Gathering
        p
          | 开学时期来临了，是时候恢复放假心情，准备上课了…. 
          | 但是，你接下来的大学人生不会只是上课，读书，上课，读书吧……  
          | 所以，不妨加入这个由NTU AMCISA和NTU MSA联合精心举办一年一度的Malaysian Gathering吧!!!
      img(src='./img/14-15/amc.mygather/poster.photo.min.jpg')

    a(href="events/14-15/ntu.amcny.index.html").col-md-4
      .image-text
        h2 #NTU AmCNY
        p
          | 羊年的脚步已临近​，当辞旧的钟声在大地回荡，当喜庆的焰花在星空绽放，一个崭新的春天，\
          | 已经向我们靠近。
      img(src='./img/14-15/ntu.amcny/poster.photo.min.jpg')

    a(href="events/14-15/ntu.ewr.index.html").col-md-4
      .image-text
        h2 #NTU Exam Welfare Refreshment
        p
          | Final要到了，现在的你是不是非常紧绷呢？ 新鲜出炉的AMCISA Exam Welfare Refreshment邀你来歇息充电，\
          | 和朋友聊天，吃些精致的小点心，尽情地放松。
      img(src='./img/14-15/ntu.ewr/poster.photo.min.jpg')

    a(href="events/14-15/ntu.halloween.index.html").col-md-4
      .image-text
        h2 #NTU Amhallo
        p
          | 2014年10月26日，当晚上7点30分的钟声响起，我们将在远处的古堡，等待着您与南瓜车的光临。
      img(src='./img/14-15/ntu.halloween/poster.photo.min.jpg')

    