extends ./layout.jade

block title
  title Events

block styles
  link(href="./css/timeline.css", rel="stylesheet")

block content
  //-
    .panel.panel-success
      .panel-heading
        h1 活动全集
      .panel-body
        a(href="events/ntu.halloween.index.html")     
          .col-md-4
            .box-sh
              img(src="img/14-15/ntu.halloween/logo.png")
            h2 #NTU Halloween
        a(href="http://goo.gl/Rkexwc")
          .col-md-4
            .box-sh
              img(src="img/14-15/nus.ammaf/logo.png") 
            h2 #NUS 中秋晚会
        a(href="events/amc.talent.index.html")
          .col-md-4
            .box-sh
              img(src="img/14-15/amc.talent/logo.png")
            h2 #Amcisa Talent Night
        a(href="http://goo.gl/Z6U9lP")     
          .col-md-4
            .box-sh
              img(src="img/14-15/ntu.ganen/logo.png")
            h2 #NTU 感恩的季节
        a(href="events/nus.telok.index.html")     
          .col-md-4
            .box-sh
              img(src="img/14-15/nus.telok/logo.png")
            h2 #NUS Telok Bangah Run
  .container
    .page-header
        h1#timeline 活动时标
      ul.timeline
        li
          .timeline-badge.primary
            i.fa.fa-paper-plane.ico-timeline          
          a(href="events/ntu.halloween.index.html").timeline-panel
            .timeline-heading
              h4.timeline-title #NTU Halloween
              p
                small.text-muted
                  i.fa.fa-clock-o
                  | 26/10/2014
            .timeline-body            
              p Come on and join in the fun this halloween!
              .timeline-poster
                img(src="img/14-15/ntu.halloween/poster.photo.jpg")
        li
          .timeline-badge.danger
            i.fa.fa-bell.ico-timeline 
          .timeline-panel
            .timeline-heading
              a(href="student.html")
                h4.timeline-title 我们的升学资讯在线上了！
              p
                small.text-muted
                  span.fa.fa-clock-o
                  | 12/10/2014
            .timeline-body
              p
                a(href="student.html") 点击此处进入升学资讯
              p                 
                |　为了让新生能更容易找到所需要的资料，我们重新整理了升学咨询。希望能得到大家能
                a(href="contact.html")提供意见，以改进这个服务。
        li.timeline-inverted
          .timeline-badge.info
            i.fa.fa-cab.ico-timeline          
          a(href="http://goo.gl/Rkexwc").timeline-panel
            .timeline-heading
              h4.timeline-title #NUS 中秋晚会
              p
                small.text-muted
                  i.fa.fa-clock-o
                  | 14/9/2014
            .timeline-body            
              p Mooncake festival
              .timeline-poster
                img(src="img/14-15/nus.ammaf/poster.png")
        li.timeline-inverted
          .timeline-badge.warning
            i.fa.fa-paper-plane.ico-timeline          
          a(href="http://goo.gl/Z6U9lP").timeline-panel
            .timeline-heading
              h4.timeline-title #NTU 感恩的季节
              p
                small.text-muted
                  i.fa.fa-clock-o
                  | 1/9/2014
            .timeline-body            
              p 前来感恩
              .timeline-poster
                img(src="img/14-15/ntu.ganen/poster.png")
        li
          .timeline-badge.success
            i.fa.fa-child.ico-timeline          
          a(href="events/amc.talent.index.html").timeline-panel
            .timeline-heading
              h4.timeline-title #AMCISA Talent Night
              p
                small.text-muted
                  i.fa.fa-clock-o
                  | 23/8/2014
            .timeline-body            
              p Show off your talents tonight
              .timeline-poster
                img(src="img/14-15/amc.talent/poster.png")
        
