extends ./layout.jade

block title
  title Home

block content
  .wrapper
    //poster
    .poster#poster-label
      .ps-img
        img(src="./img/14-15/ntu.halloween/poster.photo.jpg")
        .ps-cover
    .ps-well
      .col-md-3
      .col-md-6
        h1 留新大马独中联谊会
        h3 Association of Malaysian Chinese Independent School Alumni
        .btn.btn-dark.services-btn 
          h3 #服务全集
        .btn.btn-dark.events-btn 
          h3 #近期活动
        include:markdown includes/amcisa_profile.md
      .col-md-3

    //All services
    .container.grey-bg.full-pg#services-label
      h1 服务全集
      br
      .row
        .col-md-3
        a(href="student.html").col-md-3.red.txt-shadow
          span.fa.fa-compass.ico-large
          h2 升学资讯
        .col-md-3.yellow.txt-shadow
          span.fa.fa-book.ico-large
          h2 课程点评
        .col-md-3

    //All events
    .container.grey-bg.full-pg#events-label
      h1 近期活动
      .col-md-4
        .row.box-sh
          img(src="http://placehold.it/300x300")
        .row
          h4.green 活动更新
          h1 #NTU Halloween 
      .col-md-4
        .row.box-sh
          img(src="http://placehold.it/300x300")
        .row
          h4.green 活动更新
          h1 #NUS 中秋晚会
      .col-md-4
        .row.box-sh
          img(src="http://placehold.it/300x300")
        .row
          h4.red 资料更新
          h1 升学咨询

block script
  script(src="js/index.js")