extends ./layout.jade

block title
  title Home

block head
  link(href="./css/animate.min.css", rel="stylesheet")
  link(href="./css/index.css", rel="stylesheet")

block content  
  .wrapper 
    section#logo.wow.zoomInUp
      img(src='./img/amc.logo.big.png')
    section#about-us
      .col-md-2
      .col-md-4.wow.fadeInUp
        img(src="./img/dongzong(1).jpg")
      .col-md-4.wow.fadeInDown
        include:markdown ../includes/amcisa_profile.md
      .col-md-2

    section#recent-events.wow.rollIn
      h1 最新动态
      .line
      a(href="http://foa.amcisa.org/").col-md-4.active
        .image-text
          h2 #NTU AMCISA FOC 15/16 D'Agent
          p
            | 现已开放给大马留学南大的新生参加。迎新营期间，学长姐将会协助学弟妹办理入学手续，
            | 也将与学弟妹分享宝贵的经验以解除他们的困惑。当然少不了许多刺激好玩的游戏为你精彩的大学生活揭开序幕!!!
        img(src='./img/14-15/ntu.foa/poster.photo.min.jpg')

      a(href="events/14-15/nus.foc.index.html").col-md-4
        .image-text
          h2 #NUS AMCISA FOC 15/16 Lumiere
          p
            | 为了让新生更快适应大学生活,认识更多来自相同背景的朋友，NUS AMCISA FOCComm筹备了为期六天的迎新营，
            | 以迎接于 2015/16 学年进入NUS就读的学弟妹。
        img(src='./img/14-15/nus.foc/poster.photo.min.jpg')

      a(href="events/14-15/ntu.ewr2.index.html").col-md-4
        .image-text
          h2 #NTU Exam Welfare Refereshment 2.0
          p
            | Final和Assignment due date慢慢逼近，现在的你是不是非常紧绷呢？
            | 歇息充电一会后再继续冲刺吧!
        img(src='./img/14-15/ntu.ewr2/poster.photo.min.jpg')
        
      a(href="events/14-15/ntu.msd.index.html").col-md-4
        .image-text
          h2 #NTU Malaysian Sports Day
          p
            | MSD is an annual event where Malaysian students currently
            | studying in Singapore can get together and take part in a day of Sports and Games!"
        img(src='./img/14-15/ntu.msd/poster.photo.min.jpg')

      a(href="events/14-15/nus.cohesion.index.html").col-md-4
        .image-text
          h2 #NUS MSL-AMCISA Cohesion 2015
          p
            | 2GATHER 2.0 is baacck!!! XD. It is a great chance for all the Malaysians 
            | in NUS to bond with each other.This time we will be having station games, water games,
            | BBQ session and many more!
        img(src='./img/14-15/nus.cohesion/poster.photo.min.jpg')

      a(href="events/14-15/ntu.ammo.index.html").col-md-4
        .image-text
          h2 #NTU AMCISA Member Outing
          p
            | (AMMO)是一个以凝聚、团结AMCISA会员为目标的活动。
            | 在各自忙碌的大学生涯里，想找个喘息的空间？想和好朋友出走，却没有时间筹办？好机会来了！！ 
            | 歡迎参加ammo！
        img(src='./img/14-15/ntu.ammo/poster.photo.min.jpg')

    

block script
  script(src='js/wow.min.js')
  script.
    new WOW().init({offset: 200});
