extends ./layout.jade

block title
  title Home

block content
  .wrapper
    //poster
    .poster#poster-label
      .ps-img
        img(src="./img/14-15/ntu.halloween/poster.photo.plain.jpg")
        .ps-cover
    .ps-well
      .col-md-3
      .col-md-6
        h1 留新大马独中联谊会
        h3 Association of Malaysian Chinese Independent School Alumni
        .btn.btn-dark.services-btn 
          h3 #常用服务
        .btn.btn-dark.events-btn 
          h3 #近期活动
        include:markdown ../includes/amcisa_profile.md
      .col-md-3

    //All services
    .container.grey-bg.full-pg#services-label
      .row
        .col-md-3
        .col-md-6.border-bottom-light
          h1#service 常用服务
        .col-md-3
      .row.bottom-margin
        .col-md-3
        a(href="student.html").col-md-3.red.txt-shadow
          span.fa.fa-compass.ico-large
          h2 升学资讯
        .col-md-3.yellow.txt-shadow
          span.fa.fa-book.ico-large
          h2 课程简介
        .col-md-3
      

    //All events
    .container.grey-bg.full-pg#events-label
      .row
        .col-md-3
        .col-md-6.border-bottom-light
          h1#event 近期活动
        .col-md-3
      .row
        .col-md-3
        .col-md-2.top-margin
          img(src="img/14-15/ntu.halloween/amhallo.thumb.png")
        .col-md-4.align-left
          .row.zero-margin
            .col-md-10
              a(href="events/ntu.halloween.index.html").white.underline
                h1 #NTU Amhallo
            .col-md-2
              h4.red 活动更新
          .row
            p 2014年10月26日，当晚上7点30分的钟声响起，我们将在远处的古堡，等待着您与南瓜车的光临。
        .col-md-3
      .row
        .col-md-3
        .col-md-6.border-bottom-light
        .col-md-3
      .row
        .col-md-3
        .col-md-2.top-margin
          img(src="img/14-15/nus.ammaf/logo.png")
        .col-md-4.align-left
          .row.zero-margin
            .col-md-10
              a(href="http://amcisa.org/wp/nus-amcisa-%E4%B8%AD%E7%A7%8B%E6%99%9A%E4%BC%9A/").white.underline
                h1 #NUS 中秋晚会
            .col-md-2
              h4.red 活动更新
          .row
            p
              | 配合今年的主题“AM的心代表月亮，CI奔到月球天堂，SA下一样的月光”，许多有趣的活动将给我们带来不一样的惊喜，
              | 包括吃月饼柚子赏月、猜灯谜、心心相印、嫦娥追玉兔等等。
        .col-md-3
      .row
        .col-md-3
        .col-md-6.border-bottom-light
        .col-md-3
      .row
        .col-md-3
        .col-md-2.top-margin
          img(src="img/14-15/amc.talent/logo.png")
        .col-md-4.align-left
          .row.zero-margin
            .col-md-10
              a(href="events/amc.talent.index.html").white.underline
                h1 #AMCISA 才华之夜
            .col-md-2
              h4.red 活动更新
          .row
            p
              | 一年一度的 Talent Night即将引爆，为各位新一年的大学生活拉开序幕！
              | 你拥有什么talent，无论是唱歌、跳舞、戏剧或者是其它才华， Talent Night无任欢迎！ 
              | 大胆秀出自己的才艺，发掘自我吧！还在考虑什么？赶快报名吧！
        .col-md-3
      .row
        .col-md-3
        .col-md-6.border-bottom-light
        .col-md-3

      //Link to all events
      .row
        a(href="events.html")
          h2 活动全集
  
block script
  script(type='text/javascript').
    $(document).ready(function(){
      pageScrollTo("events");
      pageScrollTo("services");
      pageScrollTo("poster");
      return false;
    })
