extends ./layout.jade

block title
  title Home

block head
  link(href="./css/animate.min.css", rel="stylesheet")
  link(href="./css/index.css", rel="stylesheet")

block content  
  .wrapper 
    section#logo.wow.zoomInUp
      img(src='./img/amc.logo.big.png')
    section#about-us
      .col-md-2
      .col-md-4.wow.fadeInUp
        img(src="./img/dongzong(1).jpg")
      .col-md-4.wow.fadeInDown
        include:markdown ../includes/amcisa_profile.md
      .col-md-2

    section#recent-events.wow.rollIn
      h1 最新动态
      .line

      a(href="events/16-17/ntu.EWR_16-17.index.html").col-md-4.active
        .image-text
          h2 #NTU AMCISA EWR
          p
            | 试想想，距离上一次穿真正的睡衣大概是时隔千百年的事了吧？不管那时候的快乐氛围你还记不记得、爸妈讲的睡前故事与偷吃的零食又装载着什么寓意，都不再重要，如今来到大学生活，我们有AM SO HIGH，势必带你由青年回归小孩时期，重温当时的无忧无虑与烂漫！另外，我们也将准备各种惊喜，让你有个难忘的“睡前运动”——欢迎你来参与！
        img(src='./img/16-17/ntu.EWR_16-17/EWR_16-17 background.jpg')
      a(href="events/16-17/ntu.amsohai.index.html").col-md-4.active
        .image-text
          h2 #NTU AM SO HIGH 16/17
          p
            | 试想想，距离上一次穿真正的睡衣大概是时隔千百年的事了吧？不管那时候的快乐氛围你还记不记得、爸妈讲的睡前故事与偷吃的零食又装载着什么寓意，都不再重要，如今来到大学生活，我们有AM SO HIGH，势必带你由青年回归小孩时期，重温当时的无忧无虑与烂漫！另外，我们也将准备各种惊喜，让你有个难忘的“睡前运动”——欢迎你来参与！
        img(src='./img/16-17/ntu.amsohigh/amsohigh_background.png')
      a(href="events/16-17/ntu.talentnight.index.html").col-md-4
        .image-text
          h2 #NTU AMCISA FOA 16/17
          p
            | 在紧张又刺激的FOA后，大家是不是还意犹未尽，心里还有股浓浓的热忱呢？就是现在！让才华洋溢、热力四射的你们展现不凡的自己的时候到了。
            | AMCISA TALENT NIGHT，为你们提供了一个华丽的舞台，让大家在舞台上尽情的奔放，绚烂夺目。青春不留白！赶快报名参加TALENT NIGHT一起狂欢吧!
        img(src='./img/16-17/ntu.talentnight/talentnight.jpg')


      a(href="http://tinyurl.com/1617ntufoa").col-md-4
        .image-text
          h2 #NTU AMCISA FOA 16/17
          p
            | 现已开放给大马留学南大的新生参加。迎新营期间，学长姐将会协助学弟妹办理入学手续，
            | 也将与学弟妹分享宝贵的经验以解除他们的困惑。当然少不了许多刺激好玩的游戏为你精彩的大学生活揭开序幕!!!
        img(src='./img/15-16/ntu.foa/poster.jpg')

      a(href="events/15-16/nus.foc.index.html").col-md-4
        .image-text
          h2 #NUS AMCISA FOC 16/17 迎新营
          p
            |为了让新生更快适应大学生活,认识更多来自相同背景的朋友，NUS AMCISA FOCComm 筹备了迎新营，以迎接在 2016/17 学年进入NUS就读的学弟妹。
        
        img(src='./img/15-16/nus.foc/poster.photo.jpg')

      a(href="events/15-16/ntu.amscar.index.html").col-md-4
        .image-text
          h2 #NTU AmScar 2016
          p
            | 又到了一年一度AMCISA的Am斯卡季节！
            | 自己想要出名，还是想要朋友红遍AMCISA，这是你最好的机会!
      
        img(src='./img/15-16/ntu.amscar/poster.jpg')

      a(href="events/15-16/ntu.ewr2.index.html").col-md-4
        .image-text
          h2 #NTU 15-16 EWR2.0 
          p
            | （上帝降临）
            |神：“那我来安排一场 AMCISA EWR2.0 吧”
            
        img(src='./img/15-16/ntu.ewr2/poster.jpg')
      
      a(href="events/15-16/ntu.msd.index.html").col-md-4
        .image-text
          h2 #NTU Malaysian Sports Day
          p
            | Feeling tired of study? Wishing to make more friends? Looking for a break?
            | Show us your sports talent! Ladies and gentlemen, hesitate no more and join us for Malaysian Sports Day 2016!
        
        img(src='./img/15-16/ntu.msd/poster.photo.jpg')

      a(href="events/15-16/ntu.debate.index.html").col-md-4
        .image-text
          h2 #NTU 《呛战，辩种人！》辩论赛
          p
            | 这些人生中的两难抉择，你自己有没有立场？你对于你的信念，到底够不够坚定？
            | 请把握好这一次的机会！踊跃组队报名参加由AMCISA破天荒主办的第一届呛声辩论比赛《呛战，辩种人》！
        
        img(src='./img/15-16/ntu.debate/poster.photo.jpg')

      a(href="events/15-16/ntu.amcny.index.html").col-md-4
        .image-text
          h2 #NTU AMCISA AmCNY
          p
            | 一年一度的AMCNY又回来！提供了一个平台让每个忙碌的小伙伴们趁新年将至而欢聚在一起。
            | 邀请大家前往支持!
        img(src='./img/15-16/ntu.amcny/poster.photo.jpg')
      
      a(href="events/15-16/amc.amtee.index.html").col-md-4
        .image-text
          h2 #AMCISA AMTee会服设计比赛
          p
            | AMCISA会员们，久违的 “ AMTee会服设计比赛 ” 2016年重磅来袭!!
            | 我们再次号召极富艺术才华的会员们，以AMTee为画布，尽情挥洒你们的创作与想象力，为AMCISA设计更具张力的徽标～
            | AMTee一件，创意无限，敬请踊跃参与!!
        img(src='./img/15-16/amc.amtee/poster.photo.jpg')

      a(href="events/15-16/nus.outing.index.html").col-md-4
        .image-text
          h2 #NUS AMCISA Member Outing
          p
            | 久违的Member Outing 回来咯！！
            | 乘着新学期的开始，赶快把握时机和大家相聚，一起玩一起出游！
            | 我们这次将会一起去SENTOSA！有风景宜人的沙滩，让你瞬间忘我的游戏，有你我他一起去！
        img(src='./img/15-16/nus.outing/poster.photo.jpg')

      a(href="events/15-16/ntu.ewr.index.html").col-md-4
       .image-text
         h2 #NTU AMCISA EWR
         p
           | AMCISA EWR  一直以来都使用一个不外传的神奇秘方
           | 其味道能挑动你的神经，振奋你的细胞
           | 死了也能活起来，越读越带劲
       img(src='./img/15-16/ntu.ewr/poster.photo.jpg')

      a(href="events/15-16/ntu.ammo.index.html").col-md-4
       .image-text
         h2 #NTU AMCISA Member Outing 15/16 之 《盛夏拾忆度》
         p
          | 那一个盛情的夏天，那一个我们携手拼凑美好回忆的蓝天！
          | 你是否不经意回忆起曾经青春热血的往日？别担心，机会就在这里：
          | AMMO（Amcisa Member Outing） 1516 之 《盛夏拾忆度》 来了！
       img(src='./img/15-16/ntu.ammo/poster.photo.jpg')

      a(href="events/15-16/ntu.amkidkid.index.html").col-md-4
       .image-text
         h2 #NTU AMCISA AmKidKid
         p
          | 如果有一天,小叮当的时光机出现了,你, 愿意给自己一个机会吗?你,愿意回到最单纯美好的那段时光吗？ 
          | AmKidKid 正是个时光机，给你我一个机会，共同穿越时光隧道，回到那个乐趣无穷的时代！ 我们一起掀起疯狂无忧的童年！

        img(src='./img/15-16/ntu.amkidkid/poster.photo.jpg')

      a(href="events/14-15/nus.foc.index.html").col-md-4
        .image-text
          h2 #NUS AMCISA FOC 15/16 Lumiere
          p
            | 为了让新生更快适应大学生活,认识更多来自相同背景的朋友，NUS AMCISA FOCComm筹备了为期六天的迎新营，
            | 以迎接于 2015/16 学年进入NUS就读的学弟妹。
        img(src='./img/14-15/nus.foc/poster.photo.min.jpg')

    

block script
  script(src='js/wow.min.js')
  script.
    new WOW().init({offset: 200});
