extends ./layout.jade

block title
  title Home

block content
  .panel.panel-info.section
    .panel-heading
      h1 About Us
    .panel-body
      .col-md-3
      .col-md-6
        include:markdown includes/amcisa_profile.md
      .col-md-3
  .panel.panel-primary.section
    .panel-heading
      a(href="events.html")
        h1 Recent events
    .panel-body
      a(href="events/ntu.halloween.index.html")     
        .col-md-4
          .box-sh
            img(src="img/14-15/ntu.halloween/logo.png")
          h2 #NTU Halloween
      a(href="http://goo.gl/Rkexwc")
        .col-md-4
          .box-sh
            img(src="img/14-15/nus.ammaf/logo.png") 
          h2 #NUS 中秋晚会
      a(href="events/amc.talent.index.html")
        .col-md-4
          .box-sh
            img(src="img/14-15/amc.talent/logo.png")
          h2 #Amcisa Talent Night
  .panel.panel-info.section
    .panel-heading
      a(href="services.html")
        h1 Services
    .panel-body
      .container-fluid
        a(href="events.html")
          .col-md-3
            span.fa.fa-share-alt-square.ico-large.red
            h3 活动注册
        a(href="working.html")
          .col-md-3 
            span.fa.fa-binoculars.ico-large.yellow
            h3 课程点评
        a(href="working.html")
          .col-md-3
            span.fa.fa-cloud-download.ico-large.green
            h3 刊物下载
        a(href="student.html")
          .col-md-3
            span.fa.fa-pencil-square.ico-large.blue
            h3 升学资讯

//Custom Carousel 
block carousel
  #myCarousel.carousel.slide.carousel-fade.section
    //Round page indicators
    ol.carousel-indicators
      li(data-target="#myCarousel",data-slide-to="0",class="active")
      li(data-target="#myCarousel",data-slide-to="1")
      li(data-target="#myCarousel",data-slide-to="2")
    //Wrapper for inner slides
    .carousel-inner  
      .item.active
        img(src="img/14-15/ntu.halloween/poster.png")
        h1 NTU Halloween
      .item
        img(src="img/14-15/amc.talent/poster.png")
        h1 NUS/NTU Talent Night
      .item
        img(src="img/14-15/nus.ammaf/poster.png")
        h1 NUS 中秋晚会    
    //Buttons to slide right or left
    a(class="carousel-control left" href="#myCarousel" data-slide="prev") 
      span(class="glyphicon glyphicon-chevron-left")
    a(class="carousel-control right" href="#myCarousel" data-slide="next")
      span(class="glyphicon glyphicon-chevron-right")
