extends ./layout.jade

block title
  title Login

block head
  link(href="./css/animate.min.css", rel="stylesheet")
  link(href="./css/login.css", rel="stylesheet")

block content  
  
  section
    .form-horizontal-login
      fieldset
        legend Log In 
      .form-group#login-matric-no
        input(type="text", placeholder="Matric Num : e.g. U1420001K (NTU) or A0126581 (NUS)").col-lg-12.form-control.Matric_NO
        input(type="password", placeholder="PASSWORD").col-lg-12.form-control.Password
        .col-lg-2
        button(type="submit").btn.btn-primary.col-lg-12.go.align-center
          span Log in
          i.fa.fa-fw.fa-circle-o-notch.fa-spin.hide 
        .alert.alert-dismissible.alert-danger.col-lg-12.align-left.alert-tab.hide
          strong
        .alert.alert-dismissible.alert-warning.col-lg-12.align-left
          button.close(type='button', data-dismiss='alert')
          p 
            | For first time log in,
            | just type in your matriculation number and press the blue 
          strong log in button

block script
  script(src="js/login.js")
