extends ./layout.jade

block title
  title Login

block head
  link(href="./css/animate.min.css", rel="stylesheet")
  link(href="./css/login.css", rel="stylesheet")

block content  
  section
    .form-horizontal-login
      fieldset
        legend Enter Your Matriculation Number to start
      .form-group#login-matric-no
        label.col-lg-12.control-label Matriculation Number
        input(type="text", placeholder="e.g. U1420001K").col-lg-12.form-control.Matric_NO
        input(type="password", placeholder="PASSWORD").col-lg-12.form-control.Password.hide
        br
        .col-lg-4
        .btn.btn-primary.col-lg-4 Go!
        .col-lg-4

block script
  script(src="js/login.js")
