extends ./layout.jade

block title
  title Login

block head
  link(href="./css/animate.min.css", rel="stylesheet")
  link(href="./css/profile.css", rel="stylesheet")

block content  
  +login_iframe()

  .wrapper
    section.container
      .col-lg-2
        ul.nav.nav-pills.nav-stacked
            li.active
              a(href='#profile', data-toggle='tab', aria-expanded='true') Profile
            li
              a(href='#registered', data-toggle='tab', aria-expanded='true') Registered events
            li.admin.hidden
              a(href='#admin-emails', data-toggle='tab', aria-expanded='true') Admin - All Member Emails
      .col-lg-10
        .tab-content
            .tab-pane.fade.active.in.align-left#profile
              //fill in data obtained from the session.
              include ../includes/profile_profiletab.jade
            .tab-pane.fade.in.align-left#registered
              h2 This place have not been constructed.
            .tab-pane.fade.in.align-left#admin-emails
              include ../includes/profile_admin_emailstab.jade
            

block script
  script(src="js/profile.js")
  script(src="js/admin.js")