//- 
  Similar layout as events.jade.

extends ./layout.jade

block title
  title Services

block content
  .panel.panel-info.section
    .panel-heading
      h1 服务全集
    .panel-body
      .container-fluid
        a(href="events.html")
          .col-md-3
            span.fa.fa-share-alt-square.ico-large.red
            h3 活动注册
        a(href="working.html")
          .col-md-3 
            span.fa.fa-binoculars.ico-large.yellow
            h3 课程点评
        a(href="working.html")
          .col-md-3
            span.fa.fa-cloud-download.ico-large.green
            h3 刊物下载
        a(href="student.html")
          .col-md-3
            span.fa.fa-pencil-square.ico-large.blue
            h3 升学资讯
      