extends ./layout.jade

block title
  title FAQ

block content
  .container.grey-bg.fillx
    h1 升学资讯
    h4 为了帮助有意到新加坡升学的同学，下方提供了一些相关的资料供参考。 
    h4 注: 以下资料必须以各个大学为准
  .container.grey-bg.fillx
    .row.qa-panel-container
      .col-md-2
      .col-md-8.qa-panel.align-left.black
        h1 
          span.fa.fa-group
          | &nbsp;点击以下问题开始了解吧！
      .col-md-2
  .container.grey-bg.fillx.filly.align-left.qa-out
    .container.fillx
      h1.text-underline
        i.fa.fa-fw.fa-location-arrow.red
        | &nbsp;申请
      include ../includes/registration_faq.jade
    .container.fillx
      h1.text-underline
        i.fa.fa-fw.fa-legal.yellow
        | &nbsp;Tuition Grant
      include ../includes/tuition_grant_faq.jade
    .container.fillx
      h1.text-underline
        i.fa.fa-fw.fa-money.yellow
        | &nbsp;Tuition Fee Loan
      include ../includes/tuition_fee_loan_faq.jade
    .container.fillx
      h1.text-underline
        i.fa.fa-fw.fa-credit-card.green
        | &nbsp;学生证明
      include ../includes/student_pass_faq.jade
    .container.fillx
      h1.text-underline
        i.fa.fa-fw.fa-building.blue
        | &nbsp;住宿
      include ../includes/accomodation_faq.jade
    .container.fillx
      h1.text-underline
        i.fa.fa-fw.fa-hospital-o.blue
        | &nbsp;身体检查
      include ../includes/medic_exam_faq.jade
    .container.fillx
      h1.text-underline
        i.fa.fa-fw.fa-dollar.green
        | &nbsp;银行户口
      include ../includes/bank_account_faq.jade
    .container.fillx
      h1.text-underline
        i.fa.fa-fw.fa-fire.red
        | &nbsp;AMCISA新生营
      include ../includes/amcisa_FOC_faq.jade

block script
  script(src="js/student.js")