mixin faq_tab(title, included)
  .container.fillx
    h1.text-underline
      i.fa.fa-fw&attributes(attributes)
      | &nbsp;申请
      =title
    block

extends ./layout.jade

block title
  title FAQ

block content
  .container.grey-bg.fillx
    h1 升学资讯
    h4 为了帮助有意到新加坡升学的同学，下方提供了一些相关的资料供参考。 
    h4 注: 以下资料必须以各个大学为准
  .container.grey-bg.fillx
    .row.qa-panel-container
      .col-md-2
      .col-md-8.qa-panel.align-left.black
        h1 
          span.fa.fa-group
          | &nbsp;点击以下问题开始了解吧！
      .col-md-2
  .container.grey-bg.fillx.filly.align-left.qa-out
  
    +faq_tab("申请")(class="fa-location-arrow red")
      include ../includes/registration_faq.jade
    
    +faq_tab("Tuition Grant")(class="fa-legal yellow")
      include ../includes/tuition_grant_faq.jade

    +faq_tab("银行户口， Tuition Fee Loan")(class="fa-money yellow")
      include ../includes/tuition_fee_loan_faq.jade

    +faq_tab("学生证明")(class="fa-credit-card green")
      include ../includes/student_pass_faq.jade

    +faq_tab("住宿")(class="fa-building blue")
      include ../includes/accomodation_faq.jade

    +faq_tab("身体检查")(class="fa-hospital-o blue")
      include ../includes/medic_exam_faq.jade

    +faq_tab("AMCISA新生营")(class="fa-fire red")
      include ../includes/amcisa_FOC_faq.jade

block script
  script(src="js/student.js")