//-
  The following block is the one to copy when update is needed.
  Use markdown for long paragraphs.
  Also available: primary, success, warning, danger, default, info.
  
  .panel.panel-primary 
    .paneheading
 
        | Prospecitve Students
    .panel-body
      | Long text comes here 

extends ./layout.jade

block title
  title FAQ

block content
  .container.grey-bg.fillx
    h1 常问问题
  .container.grey-bg.fillx
    .row.qa-panel-container
      .col-md-2
      .col-md-8.qa-panel.align-left.black
        h1 
          span.fa.fa-group
          | &nbsp;点击以下问题开始了解详情吧！
      .col-md-2
  .container.grey-bg.fillx.filly.align-left
    .row
      .col-md-1
      .col-md-5.topic
        br
        include ../includes/accomodation.jade
      .col-md-5.topic
        br
        include ../includes/bank_account.jade
      .col-md-1
    .row
      .col-md-1
      .col-md-5.topic
        br
        include ../includes/amcisa_FOC.jade
      .col-md-5
        br
        include ../includes/tuition_fee_loan.jade
      .col-md-1

block script
  script(src="js/student.js")