//-
  The following block is the one to copy when update is needed.
  Use markdown for long paragraphs.
  Also available: primary, success, warning, danger, default, info.
  
  .panel.panel-primary 
    .paneheading
 
        | Prospecitve Students
    .panel-body
      | Long text comes here 

extends ./layout.jade

block title
  title FAQ

block content
  //All the questions come here
  .panel.panel-primary.section
    .panel-heading
      h3 Student Pass
    .panel-body
      .question
        include:markdown includes/student_pass.md

  .panel.panel-info.section
    .panel-heading
      h3 新生营
    .panel-body
      .question
        include:markdown includes/amcisa_FOC.md

  .panel.panel-danger.section
    .panel-heading
      h3 Tuition Fee Loan (TFL) 1
    .panel-body
      .question
        include:markdown includes/tuition_fee_loan_1.md

  .panel.panel-danger.section
    .panel-heading
      h3 Tuition Fee Loan (TFL) 2
    .panel-body
      .question
        include:markdown includes/tuition_fee_loan_2.md

  .panel.panel-success.section
    .panel-heading
      h3 体检
    .panel-body
      .question
        include:markdown includes/medic_exam.md

  .panel.panel-warning.section
    .panel-heading
      h3 银行户口
    .panel-body
      .question
        include:markdown includes/bank_account.md

  .panel.panel-primary.section
    .panel-heading
      h3 住宿 1
    .panel-body
      .question
        include:markdown includes/accomodation_1.md

  .panel.panel-primary.section
    .panel-heading
      h3 住宿 2
    .panel-body
      .question
        include:markdown includes/accomodation_2.md

block script
  script(src="js/toc.js")