extends ./layout.jade

block title
  title Contact Us

block content
  p hello
  .panel.panel-warning.section
    .panel-heading
      h1 你好！
    .panel-body
      span.fa.fa-spinner.fa-spin.ico-large.blue
      h1 材料提炼中。。。
  p test4