extends ./amc.mygather.layout.jade

block title
  title 更新

block content
  .container.grey-bg.full-pg.filly
    .row
      h1 活动更新
    .row
      .col-md-2
        ul.nav.nav-pills.nav-stacked.fixed
          //- Add or replace the li elements with your own.
          li.active
            a(href='#feedback', data-toggle='tab', aria-expanded='true') 意见反馈
      .col-md-9
        .tab-content#myTabContent
          //- Add your panes according to your li element.
          .tab-pane.fade.active.in#feedback
            .align-left
              h2 意见反馈
              h1 为带来下一个更精彩的Malaysia Gathering，欢迎各位提供宝贵意见。点击下面衔接参与吧!!!
              a(href="http://amcisa.org/gh/events/14-15/amc.mygather.feedback.html") 我有话说!!!
      .col-md-1
