extends ./amc.talent.layout.jade

block title
  title 更新

block content
  .container.grey-bg.full-pg
    .row
      h1 活动更新
    .row
      .col-md-2
        ul.nav.nav-pills.nav-stacked.fixed
          li.active
            a(href='#xuanchuan', data-toggle='tab', aria-expanded='true') 金榜题名
          li
            a(href='#houji', data-toggle='tab', aria-expanded='false') Talent Night 后记
      .col-md-9
        #myTabContent.tab-content
          #xuanchuan.tab-pane.fade.active.in
            .align-left
              include ../14-15.includes/amc.talent.halloffame.jade
          #houji.tab-pane.fade
            .align-left
              include:markdown ../14-15.includes/amc.talent.houji.md
      .col-md-1
