extends ./ntu.ammo.layout.jade

block title
  title 更新

block content
  .container.grey-bg.full-pg.filly
    .row
      h1 活动更新
    .row
      .col-md-2
        ul.nav.nav-pills.nav-stacked.fixed
          //- Add or replace the li elements with your own.
          li.active
            a(href='#xuanchuan', data-toggle='tab', aria-expanded='true') 首次宣传！
          li
            a(href='#openregister', data-toggle='tab', aria-expanded='false') 开放申请！
          li
            a(href='#xuanchuan2', data-toggle='tab', aria-expanded='false') 再次宣传！
      .col-md-9
        .tab-content#myTabContent
          //- Add your panes according to your li element.
          .tab-pane.fade.active.in#xuanchuan
            .align-left
              h2 我们将于 1/2/2015 开放报名，敬请留意:)
              a(href="http://goo.gl/MPSYcc") Facebook 宣传 Page
              include ../14-15.includes/ntu.ammo.promovideo1.html
          .tab-pane.fade.in#openregister
            .align-left
              include:markdown ../14-15.includes/ntu.ammo.openregistration.md
          .tab-pane.fade.in#xuanchuan2
            .align-left
              h3 新年快到了，AMMO 全体maincomm 恭祝各位羊年行大运，万事如意，身体健康:)
              h3 新年回来后的recess week 还没有planning?! 来来来，AMMO 带你去玩到癫!!!
              h3 特此注明，AMMO 所收取的费用包含来回交通，住宿，膳食6餐，水上活动(banana boat+donut ride)，Eagle Ranch 游戏费用。
              h3 这么超值的活动，你怎么能错过呢？
              h3 AMMO 我们约定咯:)
              a(href="http://amcisa.org/gh/events/14-15/ntu.ammo.register.html") **名额有限，速速报名!
              br
              include ../14-15.includes/ntu.ammo.promovideo2.html
      .col-md-1
