extends ./ntu.ewr2.layout.jade

block title
  title #NTU EWR 2.0

block content
  .wrapper
    .poster#poster-label
      .ps-img
        //- Replace this with the poster image found in your images/ntu.ewr2 folder.
        img(src="../../img/14-15/ntu.ewr2/poster.photo.jpg")
        .ps-cover
    .ps-well
      .col-md-3
      .col-md-6
        h1 南洋理工大学考试解压宵夜
        h3 Exam Welfare Refreshment 2.0 @ NTU
        .btn.btn-dark.description-btn 
          h3 #活动详情
        a(href="ntu.ewr2.updates.html").white.btn.btn-dark.events-btn             
          h3 #近期更新
        :markdown
          Final和Assignment due date 慢慢逼近，现在的你是不是非常紧绷呢？
          第二学期的AMCISA Exam Welfare Refreshment又来慰劳大家啦！
          让你来歇息充电，和朋友聊天，吃些精致的小点心。放松片刻后，继续冲刺！

      .col-md-3

    .container.grey-bg.full-pg#description-label
      .row
        .col-md-3
        .col-md-6
          h1.border-bottom-light 活动详情
        .col-md-3
      .row
        .col-md-4
        .col-md-5.align-left
          h2
            span.fa.fa-fw.fa-clock-o.red &nbsp;
            | 活动日期 : 
            //- Replace the following date with event date
            | 15th April 2015 
          h2 
            span.fa.fa-fw.fa-calendar.yellow &nbsp;
            | 活动时间 : 
            //- Replace the following time with event time
            | 9.00 p.m. - 11.00 p.m.
          h2
            span.fa.fa-fw.fa-building.blue &nbsp;
            | 活动地点 : 
            span.fa.fa-magic
            //- Replace the following venue with event venue 
            | TCT
        .col-md-3

block script
  script(type='text/javascript').
    $(document).ready(function(){
      pageScrollTo("description");
      return false;
    })