extends ./ntu.amcny.layout.jade

block title
  title 更新

block content
  .container.grey-bg.full-pg.filly
    .row
      h1 活动更新
    .row
      .col-md-2
        ul.nav.nav-pills.nav-stacked.fixed
          //- Add or replace the li elements with your own.
          li.active
            a(href='#houji', data-toggle='tab', aria-expanded='true') AMCNY新春联欢精彩后记
      .col-md-9
        .tab-content#myTabContent
          //- Add your panes according to your li element.
          .tab-pane.fade.active.in#houji
            .align-left
              include:markdown ../14-15.includes/ntu.amcny.houji.md
      .col-md-1