extends ./nus.cohesion.layout.jade

block title
  title Event

block content
  .wrapper
    .poster#poster-label
      .ps-img
        //- Replace this with the poster image found in your images/nus.cohesion folder.
        img(src="../../img/14-15/nus.cohesion/poster.photo.jpg")
        .ps-cover
    .ps-well
      .col-md-3
      .col-md-6
        h1 NUS-MSL Cohension 2015
        h3 2GATHER 2.0 @ NUS
        .btn.btn-dark.description-btn 
          h3 #活动详情
        :markdown
          2GATHER 2.0 is baacck!!! XD

          The aim of 2GATHER is to bond MSL(Malaysian Student League) and AMCISA members. 
          We are all rakyat Malaysia. Even though our homes may be hundred miles apart, 
          but fate has brought us 2GATHER at this small place called NUS. 
          So, why don't we give ourselves a chance to know each other better?

          This time we will be having station games, water games, BBQ session and many more!

      .col-md-3

    .container.grey-bg.full-pg#description-label
      .row
        .col-md-3
        .col-md-6
          h1.border-bottom-light 活动详情
        .col-md-3
      .row
        .col-md-4
        .col-md-5.align-left
          h2
            span.fa.fa-fw.fa-clock-o.red &nbsp;
            | 活动日期 : 
            //- Replace the following date with event date
            | 8th March 2015
          h2 
            span.fa.fa-fw.fa-calendar.yellow &nbsp;
            | 活动时间 : 
            //- Replace the following time with event time
            | 1.00 p.m. - 10.00p.m.
          h2
            span.fa.fa-fw.fa-building.blue &nbsp;
            | 活动地点 : 
            span.fa.fa-magic
            //- Replace the following venue with event venue 
            | NUS PGPR Function Room 5
          h2
            span.fa.fa-fw.fa-dollar.green &nbsp;
            | 活动费用 : 
            //- Replace the following venue with event price 
            | $ 12.00
        .col-md-3

block script
  script(type='text/javascript').
    $(document).ready(function(){
      pageScrollTo("description");
      return false;
    })