h1 金榜题名
h2 
  | 最佳服装道具奖 
  span.fa.fa-magic
  | — 蚝游艇
h2 
  | 最佳talent奖 
  span.fa.fa-star.yellow
  | — YMCA Finale
h2 
  | 最佳默契奖 
  span.fa.fa-heart.red
  | — 星空下
h2 
  | 最具娱乐效果奖 
  span.fa.fa-gamepad.green
  | — 蚝游艇
h2 
  | 最佳创意奖 
  span.fa.fa-rocket.blue
  | — 贝战舰