h1 金榜题名
.row
  h2.col-md-4
    | 最佳服装道具奖 
    span.fa.fa-magic
  h2.col-md-8
    | 李文彬 (东京食尸鬼)，王子胜 (幻影刀魔)
.row
  h2.col-md-4
    | 钢索特级王
    span.fa.fa-star.yellow
  h2.col-md-8
    | 子豪、绍唐、振豪、恺文、汉健、宥良、姿君、瑞祈、家镐
.row
  h2.col-md-4
    | 神射手
    span.fa.fa-paper-plane.red
  h2.col-md-8
    | 韦安
.row
  h2.col-md-4
    | 炮灰
    span.fa.fa-bomb.green
  h2.col-md-8
    | 慧洁
.row
  h2.col-md-4
    | 僵尸灌篮手
    span.fa.fa-crosshairs.blue
  h2.col-md-8
    | 晴晴