.col-md-6
  ul.fa-ul.align-left
    li.qa-li.underline
      h3.white
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p General Rules For MSD 2015
      .hide
        :markdown
          MSD 2014 is an event open to MALAYSIAN undergraduate and postgraduate students only.

          Each participant must register online via the [appropriate forms](ntu.msd.register.html) 
          before 28th February 2015, 23:59. Each participant must also confirm their attendance 
          and registration at the registration booth at 8:00 a.m. on 15th March 2015.

          Each person can only take part in ONE ball game and/or Sukaneka game 
          while the “100m individual track” and "4*100 track" are open for 
          everyone including those who are participating in ball games. 
          Participation in both track games are acceptable.

          For games which have more than one player, all teammates should 
          fill in the [form](ntu.msd.register.html) as well and remember to fill in the same "team name".

          You will be certified as a qualified participant only when you have received a 
          confirmation E-MAIL latest by 3rd March 2015 that confirms your registration 
          and the games you are participating in after on-line registration.

          Each participant has to pay a registration fee of $10 
          (regardless of number of games joined) for T-shirt & lunch. 
          Payment should be made on the day of MSD.

          All players are required to wear PROPER SPORTS ATTIRE 
          when they come for the competition.

          Please refer to the attachments for the rules & regulations for each game 
          which will be uploaded soon. Please notify that some games have limitations 
          on number of teams so, do [register](ntu.msd.register.html) ASAP.

          The committee reserves the rights to amend any rules and regulations.

    li.qa-li.underline
      h3.white
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p Badminton Rules For MSD 2015
      .hide
        :markdown
          1. Women double and men singles are each open for 8 teams. 
          Men double and mixed double are each open for 16 teams. 
          First come first serve. If there are less than 4 teams register 
          for the game, the game will be cancelled.
 
          2. One player can only participate in maximum 2 categories of competition, 
          whereby male can participate in men single OR men double AND/OR mixed 
          double & female can participate in women double AND mixed double.
           
          3. Players are required to bring own racquets for the match. Only shuttlecocks are provided.
           
          4. The match will be conducted in knockout.
           
          5. Score of 21 will be play for all matches. Players have to switch 
          sides when the leading player reaches 10 points.
           
          6. Each match will have only 1 set of playing. 
          Only final will have 3 sets of playing.
           
          7. If the players do not report themselves at the court 5 minutes 
          after the match commences, the respective players will be considered as the loser.
           
          8. The umpire’s decision is final.

    li.qa-li.underline
      h3.white
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p 5 on 5 Basketball (male) Rules For MSD 2015
      .hide
        :markdown
          1. This competition is only open for 6 teams. 
          The competition will be cancelled if there are less than 4 teams register.
 
          2. Maximum 7 players per team, each match will be conducted as two 
          parts. First half 10 minutes, short break 2 minutes and the second half 10 minutes.
           
          3. All teams will be split into 2 groups (1 group 3 teams maximum). 
          Each team in each group will play with the other team in the same group. 
          Winner gets 2 points, draw each team can get 1 point, loser gets 0 point. 
          If there are two highest points in one group, the victory belongs to the 
          team who get more points in the match. The highest cumulative total points 
          from each group will proceed to the final.
           
          4. If there are less than 5 players at the court 5 minutes after the 
          match commence, the respective team will be consider as the loser of that particular match.
           
          5. All players in each team should wear the same color tees. 
          If two teams choose the same color tees, one of the teams will 
          be requested to change into other color of tees.
           
          6. A game will be conducted as a normal basketball match for fouls and calculating points.
           
          7. Players can be swapped unlimitedly but only when fouls, out ball, or game pause.
           
          8. Each team can request for a maximum one minutes pausing.
           
          9. Possession will be changed to the opposite if you score.
           
          10. When a player had fouled for 5 times, he cannot play anymore until the game ends.
           
          11. The umpire’s decision is final.

    li.qa-li.underline
      h3.white
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p Dodgeball Rules For MSD 2015
      .hide
        :markdown
          ![](../../img/14-15/ntu.msd/dodgeball.jpg)

          [Youtube Video for reference](https://www.youtube.com/watch?v=IvBJkjJdxzM)
          --------

          1. No. of player: i) Group : 8 with at least 2 female. ii) On court: Any 6 with at least 1 female.
 
          2. Each game: 2 matches of 5 minutes with a 2 minutes interval in between. 
           
          3. Each team can decide the players on court before each match. 
          However, substitution of player is not allowed during the game 
          unless someone is injured. A player who has been replaced takes 
          no further part in the match.
           
          5. The number of players left in Zone 1 after each match ends 
          will be the score of the particular match. The final score of 
          each game will be the sum of score of two matches.
           
          6. When every match starts, one player from each team must be at jumping area to snatch the ball.
           
          7. If the player is hit by the ball on any part of his body, the player is considered OUT.
           
          8. If the ball hit other players after the first hit, only the first player is considered OUT.
           
          9. Any ball that hit the players after it bounces from the ground is not counted.
           
          10. If the player can catch the ball thrown by the opponent team, 
          the player is not considered out. However, if the ball drop to 
          the ground after catching, the player is still considered out.
           
          11. HEADSHOT is considered foul, whether intentionally or not. 
          The possession of the ball from the thrower’s side belong to the opponent team.
           
          12. Players are not allowed to pass the ball to their teammate 
          in the same zone ( ie: Zone 1 to Zone 1), otherwise the possession 
          of the ball will be lost to the opponent team.
           
          13. Players are only allowed to pass the ball to their teammate 
          in the different zone (ie: Zone 1 to Zone 2). The limit of ball passing is 4.
           
          14. The ball holder only can hold the ball for 5 seconds, 
          otherwise the possession of the ball will be lost to the opponent team.
           
          15. If any player cause the ball crossing the boundary line of 
          zone 2, the possession of the ball will be lost to the opponent team.
           
          16. Any player that cross the boundary lines of their own zone, 
          the possession of the balls will be lost to the opponent team.
           
          17. When a ball is thrown while the ending whistle is blown, 
          the player hit by this ball is still considered out.
           
          18. There will be no suspension when a player is out. Therefore, 
          the player who is out should quickly proceed to the zone 2 through zone 4.
           
          19. Referees’ decision is final and cannot be disputed.

.col-md-6
  ul.fa-ul.align-left
    li.qa-li.underline
      h3.white
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p Futsal Rules For MSD 2015
      .hide
        :markdown
          1. This competition is for male players only.
 
          2. Each team consists of 7 members, with 5 in play (including a goalkeeper) and 2 substitutes.
           
          3. Match will be held at the multipurpose court in Sports & Recreational Centre, NTU.
           
          4. Each match will last for 14 minutes, with 7 minutes in first half and 
          7 minutes in second half. 1 minute break will be given between both halves.
           
          5. Teams will be divided into groups, following which the top teams 
          from each group will move on to finals.
           
          6. Matches which end in a tie during the knockout stage will be decided by penalty shootout.
           
          7. Coin toss will decide which team starts the match.
           
          8. When ball is sent out of the playing area, play will be restarted 
          by a kick-in by the opposing team at the point where the ball crossed 
          the side line; or at the corner if the ball crossed the goal line.
           
          9. Fouls for misconduct/unfair play will be passed down at the 
          discretion of the referee in charge.
           
          10. All players in each team should wear the same color tees. 
          If two teams choose the same color tees, one of the teams may be 
          requested to change into other color of tees.
           
          11. The referee’s decision regarding fouls and match outcomes are final and not to be disputed.

    li.qa-li.underline
      h3.white
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p Track & Field (100m) Rules For MSD 2015
      .hide
        :markdown
          1. This game is open for men, if there are less than 3 participants, the game will be cancelled.
 
          2. There will be two rounds for the game, ie. Preliminary Round and Final Round.
           
          3. Preliminary Round will be conducted in the morning after the 
          Opening Ceremony and Final Round will be conducted after the final ball games.
           
          4. If there are more than 6 participants in a category, then 
          several preliminary rounds will be conducted and SIXTH of the 
          quickest participants will enter the Final Round.
           
          5. Each participant has to report to the organization 15mins before the event start.
           
          6. All runners are to remain behind the starting line until the 
          signal to start is given. In the event of a false start, there 
          will be a restart. Any participants committing more than 1 false start will be disqualified.
           
          7. All runners must remain within their pre-assigned lane from start to finish.
           
          8. The first runner whose torso reaches the vertical plane of 
          the closest edge of the finish line is the winner.
           
          9. Participants of track and field are allowed to participate only ONE ballgame.

    li.qa-li.underline
      h3.white
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p Track & Field (4*100m) Rules For MSD 2015
      .hide
        :markdown
          1. The group combination must be 2 men and 2 women in a group, 
          if there are less than 3 groups participants, the game will be cancelled.
 
          2. There will be two rounds for the game, ie. Preliminary Round and Final Round.
           
          3. Preliminary Round will be conducted in the morning after the 
          Opening Ceremony and Final Round will be conducted after the final ball games.
           
          4. If there are more than 6 teams of participants in a category, 
          then several preliminary rounds will be conducted and SIX of the quickest teams will enter the Final Round.
           
          5. Each group has to report to the organization 15mins before the event start.
           
          6. All runners are to remain behind the starting line until the 
          signal to start is given. In the event of a false start, 
          there will be a restart. Any participants committing more than 1 false start will be disqualified.
           
          7. All runners must remain within their pre-assigned lane from start to finish.
           
          8. The first runner whose torso reaches the vertical plane of the closest edge of the finish line is the winner.
           
          9. Participants of track and field are allowed to participate only ONE ballgame.
