h1
  | &nbsp;
ul.fa-ul.align-left
  li.qa-li.underline
    h3.white
      i.fa.fa-li.fa-fw.fa-chevron-circle-right
      p 宿舍需要多久重新申请一次？
    .hide
      :markdown
        宿舍需要每年重新申请一次。

        - NUS: 不过在第一学期(Semester 1),学生必须缴交S$200的Acceptance Fee以表明继续入住至第二学期（Semester 2）的意愿,否则将被取消入住资格。
        - NTU: 除了年头预付的两个月租金外，只需按时缴交租金即可。

  li.qa-li.underline
    h3.white
      i.fa.fa-li.fa-fw.fa-chevron-circle-right
      p 住宿有怎样的选择？
    .hide
      :markdown
        - NUS：
          - Hall(Eusoff Hall, Kent Ridge Hall, King Edward VII Hall, Raffles Hall, Sheares Hall, Temasek Hall)- 单人或双人房。
          入住Hall的学生可以参加以Hall为单位的各种课外活动,如球类运动、合唱团等等。
          每个Hall拥有各自独特的风格和文化,且是由Hallmaster及Hall Committee所领导。学生必须订购伙食(meal plan)。
          - Residences(Prince George's Park Residences)- 单人房。
          Residences让学生学习如何独立生活，也提供相对较多的隐私和安静的学习环境。
          同时学生有机会和不同国籍和背景的学生交流，体验不同文化。此外，学生也能参与校园内的各类课外活动和社团。
          - Residential College- 单人或双人房
              - Residential College是给参与特殊活动的学生的住宿。和Hall一样，学生必须订购伙食(meal plan)。
              - Cinnamon College - University Scholars Programme (USP)
              - Tembusu College - University Town College Programme (UTCP)
              - College of Alice & Peter Tan - University Town College Programme (UTCP)
              - Ridge View Residential College - Faculty of Arts and Social Sciences, Faculty of Science, Faculty of Engineering, School of Computing?School of Design and Environment的新生。
        - NTU： 由电脑随机安排。大一后如果分数达标就可以选回自己的hall，否则随机安排。