.col-md-6
  ul.fa-ul.align-left
    li.qa-li.underline
      h3.white
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p 官网链接
      .hide
        :markdown
          - [NUS 住宿官网链接](http://nus.edu.sg/osa/has/undergraduate/eligibility)
          - [NTU 住宿官网链接](http://www.ntu.edu.sg/CampusLife/Pages/Accommodation.aspx)

    li.qa-li.underline
      h3.white
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p 如果我要提早入宿该怎么办?
      .hide
        :markdown
          最早入宿日期一般在开学前两个星期，若要更早入宿请电邮联络宿舍管理层。在开学前提早入宿一样必须缴交相应天数的住宿费。
.col-md-6
  ul.fa-ul.align-left
    li.qa-li.underline
      h3.white
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p 住宿有怎样的选择？
      .hide
        :markdown
          - NUS的宿舍有几个不同的系统:

            1. Hall of Residence (Eusoff Hall, Raffles Hall, Temasek Hall等)
            有很多不同的课外活动可以参加，但是如果来年要继续住在Hall就必须非常活跃的参与课外活动。规定包伙食（Meal plans）

            2. Residential College (Cinnamon College, Tembusu College等)
            较其他住宿选择不同的是住在Residential College的学生必须而外修课，且这些课程的成绩将直接影响大学文凭里面的总成绩。这些Residential College主要供给University Scholar Programme, University Town College Programme, Faculty of Arts and Social Science, Science, Engineering, Computing, Design and Environment的学生住宿。规定包伙食（Meal plans）

            3. Student Residence (Prince George’s Park Residences)
            住在Student Residence的学生不须参加任何课外活动或而外修课。
          
          - NTU只有一个系统，即Hall of Residence。相对NUS Hall of Residence不同的是，除了参与Hall of Residence的活动以外，还可以参加大学里各种不同的学会活社团已获得来年住在Hall of Residence的资格。申请时可选择单人或双人房，但是将视数量，由电脑随机分配学生到不同的Hall of Residence。

    li.qa-li.underline
      h3.white
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p 每个月的住宿费多少？
      .hide
        table.table.table-hover.table-bordered
          thead
            tr 
              th(rowspan=2)
              th(rowspan=2)
              th(colspan=2).align-center 单人房
              th(colspan=2).align-center 双人房
            tr
              th 无冷气
              th 有冷气
              th 无冷气
              th 有冷气
          tbody
            tr 
              td(rowspan=3) NUS 
              td Hall of Residence * 
              td 440
              td
              td 300
              td  
            tr 
              td Residential College ** 
              td 480-520
              td 540-580
              td 
              td 
            tr 
              td Student Residence 
              td 440-480
              td 800
              td
              td
            tr 
              td NTU
              td Hall of Residence
              td 305-325
              td 340-375
              td 225-250
              td 240-280
        p * 不包括伙食费每月$90。**不包括伙食费每月$192。
