h1
  i.fa.fa-fw.fa-fire.red
  | &nbsp;AMCISA新生营
ul.fa-ul.align-left
  li.qa-li.underline
    h3.white
      i.fa.fa-li.fa-fw.fa-chevron-circle-right
      p 请问什么是 FOC ?
    .hide
      :markdown
        FOC即Freshman Orientation Camp，是迎新营，开放给即将前来新加坡大学就读的马来西亚学生参加。
        在迎新营期间，学长姐会协助学弟妹处理学生证的申请、身体检查、贷款等繁杂手续；直系学长姐将与学弟妹分享宝贵的经验，
        解除学弟妹的困惑；同时也能透过营期间的各种刺激好玩的游戏，认识其他来自马来西亚各州的留新大马生，
        彼此进行交流，因而为你精彩的大学生活掀开序幕。

  li.qa-li.underline
    h3.white
      i.fa.fa-li.fa-fw.fa-chevron-circle-right
      p 请问我如何获得 FOC 资讯?
    .hide
      :markdown
       敬请留意本官网的更新，以跟进 FOC 最新的资讯。谢谢！
