h1
  | &nbsp;
ul.fa-ul.align-left
  li.qa-li.underline
    h3.white
      i.fa.fa-li.fa-fw.fa-chevron-circle-right
      p 如果我是向 OCBC 申请 TFL，那我是不是一定要开 OCBC 的银行户口?
    .hide
      :markdown
        没有规定必须在申请 TFL 的银行开户口，可以在往后开始工作还贷款时再开该银行户口。

  li.qa-li.underline
    h3.white
      i.fa.fa-li.fa-fw.fa-chevron-circle-right
      p 如果我不想带太多现金，怕被打抢骗财，怎么办?
    .hide
      :markdown
        若不想携带太多现金，可在马来西亚的银行购买新币的 Bankdraft，建议买 S$1000 以缴交初期学杂费。