
.container.grey-bg.fillx
  br
.container.align-left.light-grey-bg.fillx
  .col-md-2
  .col-md-3
    h4.yellow 相关单位
    a(href="http://www.dongzong.my/").white
      h5 董总
  .col-md-3
    h4.blue 快速链接
    a(href="https://www.facebook.com/pages/Amcisa-%E7%BB%BF%E5%B2%9B/145514082199917?fref=ts").white
      h5 Amcisa 绿岛
    a(href="https://www.facebook.com/groups/419331528149726/?fref=ts").white
      h5 NTU Facebook Page
    a(href="https://www.facebook.com/amcisanusntu?fref=ts").white
      h5 ACMISA Facebook Page
    a(href="https://www.facebook.com/groups/nusamcisa/?fref=ts").white
      h5 NUS Facebook Page
  .col-md-3
    h4.green 联络方式：
    a(href="../../contact.html").white
      h5 amcisa.comm@gmail.com
  .col-md-1
.container.light-grey-bg.align-right.fillx
  h5 Association of Malaysian Chinese Independent School Alumni 2014