.col-md-6
  ul.fa-ul.align-left
    li.qa-li.underline
      h3.white
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p 
          i.fa.fa-fw.fa-fire.red
          | NTU Bursary 津贴
      .hide
        :markdown
          申请期限：在接受大学录取的两个星期内

          申请方式：当有了学生证号码（matriculation number）后，会收到”NTU Online Acceptance Form”的 link。“Bursary”的链接就在里头。（若没有新加坡的联络号码和地址，只需要在空格 上填上”Not Available”即可）

          申请条件：此津贴视申请者的经济状况和各颁发者所设下的条件而定，因此其中颁发给永久居
          民与国际学生的津贴数目是有限的。

          申请过程：通过网上申请之后，请把所要求的文件在 7 天内以电邮或亲自缴交的方式交上。校 方将在八月尾通过学生邮件通知申请结果。成功的申请者需要在网上接受 offer。



.col-md-6
  ul.fa-ul.align-left
    li.qa-li.underline
      h3.white
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p 
          i.fa.fa-fw.fa-fire.red
          | NTU PC Loan 电脑贷款
      .hide
        :markdown
          有了学生证号码后，新生可以通过 Student Link 申请电脑贷款，并在校内的电脑店购买手提电 脑。电脑贷款最高额为 S$1500,免利息但是必须在毕业后的 3 年内缴清贷款数额。

          [请点击查阅更多详情](http://admissions.ntu.edu.sg/UndergraduateAdmissions/FinancialAssistance/Pages/PCLoan.aspx)

          
     