h1.underline.white
  | &nbsp;
ul.fa-ul.align-left
  li.qa-li.underline
    h3.white
      i.fa.fa-li.fa-fw.fa-chevron-circle-right
      p 请问有哪些奖学金？
    .hide
      :markdown
        点击下面链接以获得相关资讯。
        
        - [NUS 奖学金](http://www.nus.edu.sg//oam/scholarships/freshmen/scholarship-international.html)
        
        - [NTU 奖学金](http://admissions.ntu.edu.sg/UndergraduateAdmissions/Pages/FreshmenNonSingapore.aspx)


  li.qa-li.underline
    h3.white
      i.fa.fa-li.fa-fw.fa-chevron-circle-right
      p 请问还有其他经济援助吗？
    .hide
      :markdown
        Financial Aid / Financial Assistance是由大学提供的经济援助。其中包括Tuition Fee Loan(TFL) 和Study Loan。
        
        - [NUS 经济援助](http://www.nus.edu.sg/oam/financialaid/index.html)
        
        - [NTU 经济援助](http://admissions.ntu.edu.sg/UndergraduateAdmissions/FinancialAssistance/Pages/default.aspx)

  li.qa-li.underline
    h3.white
      i.fa.fa-li.fa-fw.fa-chevron-circle-right
      p 请问我几时可以知道被录取？
    .hide
      :markdown
        一般上录取通知会在2月左右开始发出。申请者会透过电邮或信件获得录取通知书。
