.col-md-6
  ul.fa-ul.align-left
    li.qa-li.underline
      h3
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p 如果我有意到新加坡升学，请问要如何获得相关资讯?
      .hide
        :markdown
          你可以浏览新加坡大学的官方网页:

          - [新加坡国立大学(NUS)官网](www.nus.edu.sg)

          - [新加坡南洋理工大学(NTU)官网](www.ntu.edu.sg)

    li.qa-li.underline
      h3
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p 请问申请一般几时截止?
      .hide
        :markdown
          一般上, 持统考文凭(UEC)的申请在12月初开放, 12月末截止。申请时间必须以各大学官网为准。
          
          - [NUS 申请日期](http://www.nus.edu.sg/oam/apply/international/admissionreq/BYA-admissionreq.html)
          
          - [NTU 申请日期](http://admissions.ntu.edu.sg/UndergraduateAdmissions/Pages/ApplytoNTU.aspx)

    li.qa-li.underline
      h3
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p 请问大学提供些什么科系?
      .hide
        :markdown
          各个大学所提供的科系略有差异, 请到大学的官网查询。
          
          - [NUS 科系](http://www.nus.edu.sg/oam/courses/course.html)
          
          - [NTU 科系](http://admissions.ntu.edu.sg/UndergraduateAdmissions/Pages/undergrad.aspx)


    li.qa-li.underline
      h3
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p 请问大学学费是多少？
      .hide
        :markdown
          新学年的学费暂未公布。下面链接提供历年的学杂费。
          
          - [NUS 学费](https://share.nus.edu.sg/registrar/info/ug/UGTuitionCurrent.pdf)
          
          - [NTU 学费](http://admissions.ntu.edu.sg/UndergraduateAdmissions/Pages/FeesTuitionGrant.aspx)
.col-md-6
  ul.fa-ul.align-left
    li.qa-li.underline
      h3
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p 请问有哪些奖学金？
      .hide
        :markdown
          点击下面链接以获得相关资讯。
          
          - [NUS 奖学金](http://www.nus.edu.sg//oam/scholarships/freshmen/scholarship-international.html)
          
          - [NTU 奖学金](http://admissions.ntu.edu.sg/UndergraduateAdmissions/Pages/FreshmenNonSingapore.aspx)


    li.qa-li.underline
      h3
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p 请问还有其他经济援助吗？
      .hide
        :markdown
          Financial Aid / Financial Assistance是由大学提供的经济援助。其中包括Tuition Fee Loan(TFL) 和Study Loan。
          
          - [NUS 经济援助](http://www.nus.edu.sg/oam/financialaid/index.html)
          
          - [NTU 经济援助](http://admissions.ntu.edu.sg/UndergraduateAdmissions/FinancialAssistance/Pages/default.aspx)

    li.qa-li.underline
      h3
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p 请问我几时可以知道被录取？
      .hide
        :markdown
          一般上录取通知会在2月左右开始发出。申请者会透过电邮或信件获得录取通知书。

    li.qa-li.underline
      h3
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p 请问英文最低要求是什么？
      .hide
        :markdown
          官方上，英文水平必须有如: EL1119，ILETS，TOEFL等等资格(请到官网查看最低要求)，统考英文为辅。据统计，统考英文获得A2或以上的录取率较高。
          
