h1
  i.fa.fa-fw.fa-credit-card.green
  | &nbsp;学生证明
ul.fa-ul.align-left
  li.qa-li.underline
    h3.white
      i.fa.fa-li.fa-fw.fa-chevron-circle-right
      p 官网链接
    .hide
      :markdown
        [Immigration and Checkpoints Authority 官网链接](http://www.ica.gov.sg/services_centre_overview.aspx?pageid=256)

  li.qa-li.underline
    h3.white
      i.fa.fa-li.fa-fw.fa-chevron-circle-right
      p 请问申请Student Pass 有什么需要注意的吗?
    .hide
      :markdown
        记得更新国际护照，距离逾期时间超过 6 个月的护照才能申请Student Pass。 
        为了避免往后更新时出现麻烦，建议直接用新的 4 年国际护照来申请Student Pass。
