h1
  | &nbsp;
ul.fa-ul.align-left
  li.qa-li.underline
    h3.white
      i.fa.fa-li.fa-fw.fa-chevron-circle-right
      p 请问申请Student Pass 的照片有什么需要注意的吗?
    .hide
      :markdown
        准备至少4 张 Passport Size 照片及其电脑档。 
        为便利 Student Pass 之申请，照片建议以白色为背景，同时必须露出额头和耳朵。