.col-md-6
  ul.fa-ul.align-left
    li.qa-li.underline
      h3.white
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p 官网链接
      .hide
        :markdown
          - [NUS官网链接](http://www.nus.edu.sg/oam/financialaid/loans/financial-loans-tuitionfee.html) 

          - [NTU官网链接](http://www.ntu.edu.sg/Finance/FinancialServices/StudentFinancialHandbook/Disbursement%20under%20FinancialAssistanceSchemes/Pages/TuitionFeeLoan.aspx)

    li.qa-li.underline
      h3.white
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p 请问什么是TFL?
      .hide
        :markdown
          TFL 即Tuition Fee Loan, 留学生可向银行贷款学费。注意, TFL只借新加坡公民学费的 90%， 不是我们 International Student 学费的 90%。

    li.qa-li.underline
      h3.white
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p 请问开银行户口来做什么?
      .hide
        :markdown
          你可以选择开或不开银行户口。一般上, 缴付学费和宿舍费可透过GIRO直接在银行户口扣帐。

    li.qa-li.underline
      h3.white
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p 请问开什么银行户口比较好和方便?
      .hide
        :markdown
          校园内都有银行的ATM:

          - NUS校园内DBS的ATM比较多
          - NTU校园内OCBC的ATM比较多


    li.qa-li.underline
      h3.white
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p 如果我是向 OCBC 申请 TFL，那我是不是一定要开 OCBC 的银行户口?
      .hide
        :markdown
          没有规定必须在申请 TFL 的银行开户口，可以在往后开始工作还贷款时再开该银行户口。



// SPLIT



.col-md-6
  ul.fa-ul.align-left
    li.qa-li.underline
      h3.white
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p  请问我几时可以申请 TFL?
      .hide
        :markdown
          只要你拿到 Admission Offer Letter 后就能开始申请了，截止日期参考官网。可自行官网下载和打印申请表格。

    li.qa-li.underline
      h3.white
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p TFL 需不需要每年重新申请?
      .hide
        :markdown
           不需要，TFL 只需要申请 1 次即可。

    li.qa-li.underline
      h3.white
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p 请问我几时才需要还 TFL 的债务?
      .hide
        :markdown
          毕业后两年内必须开始还钱，银行利息由毕业后开始算。每个月最少$100，最长期限为 20 年。

    li.qa-li.underline
      h3.white
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p 如果我不想带太多现金，怕被打抢骗财，怎么办?
      .hide
        :markdown
          若不想携带太多现金，可在马来西亚的银行购买新币的 Bankdraft。

    li.qa-li.underline
      h3.white
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p  
          i.fa.fa-fw.fa-fire.red
          | 申请TFL时需要担保人吗?
      .hide
        :markdown
          需要2位担保人。

          **情况 1：学生和担保人都在新加坡**

          填妥申请表格后，学生与担保人在 15/8 （2015年日期）之前到新加坡 OCBC 或 DBS 分行呈交**申请表格**与**大学录取信 (Letter of Offer)**,
          请学生与担保人携带护照与身份证。银行随后将会通知申请的结果，而贷款将从学费中扣除。

          **情况 2：学生及担保人都在马来西亚**

          填妥申请表格后，学生和担保人可到马来西亚 OCBC 或 DBS 分行，在该执行人员面前签署银
          行录取信，请学生和担保人记得携带身份证或护照。身份证和护照的复印版本需由该分行认证
          为实。

          在抵达新加坡后，（2015年为15/8 之前）学生可到 NTU 的 OCBC 分行呈交：

          - 已填妥的 TFL 申请表格 

          - 银行录取信 

          - 护照 

          - 经银行人员认证的担保人身份证复印版本 

          **情况 3: 学生在新加坡但是担保人都在马来西亚**

          填妥申请表格后，把表格寄给担保人。担保人必须在马来西亚 OCBC 或 DBS 分行，在该执行
          人员面前签署银行录取信。身份证或护照的复印版本需由该分行认证为实。担保人可以把已填
          好的表格寄给身在新加坡的学生。

          在抵达新加坡后，（15/8 之前）学生可到 NTU 的 OCBC 分行呈交：

          - 已填妥的 TFL 申请表格 

          - 信

          - 护照

          - 经银行人员认证的担保人身份证复印版本 

          


.col-md-12
  h3 接下来的部分是供欲向OCBC申请的同学参考：
.col-md-6
  ul.fa-ul.align-left
    li.qa-li.underline
      h3.white
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p 我家附近有OCBC，我可以在这边处理申请TFL的手续吗？
      .hide
        :markdown
          可以，你必须在马来西亚 OCBC 银行的 Officer 见证下签名。签名时需携带 Borrower(Student) 和 Guarantor 的身份证/护照， 
          Admission Letter 副本作为证明文件。Borrower 和 Guarantor 的身份证和护照副本需要有 OCBC 银行 Officer 的盖章。 
          抵新后，再把表格交到任何一间OCBC分行即可。

    li.qa-li.underline
      h3.white
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p 如果我家附近没有 OCBC， 而我的 Guarantor 无法来新加坡签名，怎么办?
      .hide
        :markdown
          若所住地区无 OCBC 银行，你自己本身需在新加坡 OCBC 银行签名，尔后再将表格寄回给 Guarantor。
          Guarantor须在 Notary Public 或 Officer of Singapore Embassy 见证下签名，所需携带 文件同上。

.col-md-6
  ul.fa-ul.align-left
    li.qa-li.underline
      h3.white
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p  如果我家住靠近新加坡 (如: JB)，那么我能不能先跟我的 Guarantor 自行到新加坡 OCBC 签名?
      .hide
        :markdown
          可以，不过必须确保带齐所需的文件，
          如 Admission Letter以及自己和 Guarantor 的身份证/护照，不然就白走一趟了。 
          若资料符合，签名后，申请手续就完成了。