.col-md-6
  ul.fa-ul.align-left
    li.qa-li.underline
      h3.white
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p 什么是Tuition Grant？
      .hide
        :markdown
          Tuition Grant是由新加坡教育局提供给海外学生和本地学生的学费资助。申请者无须偿还费用，但条件是最少在新加坡注册的公司工作3年。
    
    li.qa-li.underline
      h3.white
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p 请问我需要每年申请吗？
      .hide
        :markdown
          只需申请一次

.col-md-6
  ul.fa-ul.align-left
    li.qa-li.underline
      h3.white
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p 请问如何申请？
      .hide
        :markdown
          请留意官网的指示。
          
          - [NUS 申请指示](http://www.nus.edu.sg/oam/financialaid/faq-moe.html)
          
          - [NTU 申请指示](http://admissions.ntu.edu.sg/UndergraduateAdmissions/Pages/TuitionGrant.aspx)
