h1
  | &nbsp;
ul.fa-ul.align-left

  li.qa-li.underline
    h3.white
      i.fa.fa-li.fa-fw.fa-chevron-circle-right
      p 请问如何申请？
    .hide
      :markdown
        请留意官网的指示。
        
        - [NUS 申请指示](http://www.nus.edu.sg/oam/financialaid/faq-moe.html)
        
        - [NTU 申请指示](http://admissions.ntu.edu.sg/UndergraduateAdmissions/Pages/TuitionGrant.aspx)
