.col-md-6
  ul.fa-ul.align-left
    li.qa-li.underline
      h3
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p 什么是Tuition Grant？
      .hide
        :markdown
          Tuition Grant是由新加坡教育局提供给海外学生和本地学生的学费资助。申请者无须偿还费用，但条件是最少在新加坡注册的公司工作3年。
          
          **若不接受津贴，则不能申请校内其他贷款及财务援助**

    li.qa-li.underline
      h3
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p 请问我需要每年申请吗？
      .hide
        :markdown
          只需申请一次

.col-md-6
  ul.fa-ul.align-left
    li.qa-li.underline
      h3
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p 请问如何申请？
      .hide
        :markdown
          请留意官网的指示。
          
          - [NUS 申请指示](http://www.nus.edu.sg/oam/financialaid/faq-moe.html)
          
          - [NTU 申请指示](http://admissions.ntu.edu.sg/UndergraduateAdmissions/Pages/TuitionGrant.aspx)

    li.qa-li.underline
      h3
        i.fa.fa-li.fa-fw.fa-chevron-circle-right
        p 
          i.fa.fa-fw.fa-fire.red
          | 申请TG时需要担保人吗?
      .hide
        :markdown
          申请TFL时需要两位担保人。在大约10月时（详细时间请参考官网与email，2015年日期为6/10-9/10)2位担保人需要陪同申请者到 NTU Function Room, SS3-B1-22, Level B1, South Academic Complex, South Spine 签署合同。

          若担保人不在新加坡，需从“TGonline”下载表格（2015年日期为12/9），2 名担保人在宣誓官面前签署后由申请者亲自提交（详细时间请参考官网与email，2015年日期为6/10-9/10)。

